<!DOCTYPE html>
{% load static %}

{% load i18n %}

{% get_current_language as LANGUAGE_CODE %}


 <link rel="stylesheet" type="text/css" href="{% static 'about/style_alternative.css' %}" /> 
 <link rel="icon" href="{% static 'about/kao_logo.png' %}" alt="Kao Metrology Logo"> 


 <link rel="canonical" href="https://www.hightech-metrology.com{% url 'dimensional_measurement' %}"/>

{% for lang_code, lang_name in LANGUAGES %}
     <link rel="alternate" href="https://www.hightech-metrology.com/{{ lang_code }}/dimensional_measurement/" hreflang="{{ lang_code }}" />
{% endfor %}





<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-S1K2JYNCMG"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-S1K2JYNCMG');
</script>


<title>Air Gaging | Air Gages | Air Gaging Devices</title>
<meta name="description" content="Air Gaging Devices | Dimensional Measurement Devices">

<script type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"></script>



    <nav class="navbar-eski  navbar-nav-eski navbar-brand-eski navbar-expand-lg navbar-dark-eski bg-blue-eski">
            <div class="container">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="navbar-collapse-eski" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'about_page' %}">{% trans 'Menu' %}</a></li>
                         <li class="nav-item dropdown" id="productsdropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> {% trans 'Products' %}</a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="{% url 'dimensional_measurement' %}">{% trans 'Dimensional Measurement'  %}</a></li>
                                <li><a class="dropdown-item" href="{% url 'leak_testing' %}">{% trans 'Leak Testing Devices' %}</a></li>
                                <li><a class="dropdown-item" href="{% url 'callibrators' %}">{% trans 'Callibrators ' %}</a></li>
                                <li><a class="dropdown-item" href="{% url 'accessories' %}">{% trans 'Accessories' %}</a></li>
                            </ul>
                        </li>
                        
                          <li class="nav-item dropdown" id="servicesdropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> {% trans 'Services' %}</a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" a href="{% url 'services'%}#probes">{% trans 'Probe Design'  %}</a></li>
                                <li><a class="dropdown-item" a href="{% url 'services'%}#automachines">{% trans 'Automation Projects'  %}</a></li>
                                <li><a class="dropdown-item" a href="{% url 'services'%}#softwaresupport">{% trans 'Softwares'  %}</a></li>

                          </ul>
                        </li>
                        
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="https://hightech-metrology.com/blog/">{% trans 'Blog' %}</a></li>

                        
                    <!--    <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'services' %}">{% trans 'Services' %}</a></li> -->
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'contact_page' %}">{% trans 'Contact' %}</a></li>   
                      
                      
                      <li class="nav-item dropdown" id="languageDropdown">
                         <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="{% static 'about/language.svg' %}" alt="language icon">
                                Languages
                          </a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/tr"><img src="{% static 'about/Turkey.png' %}" alt="Turkish flag" style="width: 25px; height: auto;"> {% trans 'Turkish' %}</a></li>
                                <li><a class="dropdown-item" href="/en"><img src="{% static 'about/England.png' %}" alt="English flag" style="width: 25px; height: auto;">{% trans 'English' %}</a></li>
                                <li><a class="dropdown-item" href="/fr"><img src="{% static 'about/france.png' %}" alt="French flag" style="width: 25px; height: auto;">{% trans 'French' %}</a></li>
                                <li><a class="dropdown-item" href="/de"><img src="{% static 'about/German.png' %}" alt="German flag" style="width: 25px; height: auto;">{% trans 'German' %}</a></li>
                                <li><a class="dropdown-item" href="/it"><img src="{% static 'about/Italy.png' %}" alt="Italian flag" style="width: 25px; height: auto;">{% trans 'Italian' %}</a></li>
                                <li><a class="dropdown-item" href="/pl"><img src="{% static 'about/Poland.png' %}" alt="Polish flag" style="width: 25px; height: auto;">{% trans 'Polish' %}</a></li>
                                <li><a class="dropdown-item" href="/es"><img src="{% static 'about/Spain.png' %}" alt="Spanish flag" style="width: 25px; height: auto;">{% trans 'Spanish' %}</a></li>

                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>



<a href="{% url 'about_page' %}">

<div id="company_logo">
    <img src="{% static 'about/kao_logo.png' %}" class="logo-img" alt="Kao Metrology Logo">
</div>  
</a>






        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>







  <section class="header3 cid-ryh9am114g" id="content01-3d">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 col-lg-6 py-5 m-auto">
          <div class="media-content">
            <h1 class="mbr-section-title align-center mbr-bold mbr-white pb-3 mbr-fonts-style display-2">
              {% trans ' What is Air-Gaging ?' %}
            </h1>
            <div class="mbr-section-text mbr-white pb-3 ">
              <p class="mbr-text align-center align-center mbr-fonts-style display-7">
              {% blocktrans %}
		Air gaging, also known as pneumatic gaging or air gauging, 
    is a metrological technique used for precision measurements in manufacturing and quality control processes. 
    It involves the use of compressed air to measure dimensional characteristics of a workpiece. 
    The basic principle of air gaging is to use the interaction between a stream of pressurized air and the surface of the workpiece to make accurate measurements.
              {% endblocktrans %}
                </p>
            </div>
            <div class="mbr-section-btn align-center">
              <a class="btn btn-md btn-white-outline display-4" a href= "{% url 'products_page' %}"  >
                {% trans 'View More' %}
              </a>
            </div>
          </div>



        </div>

    </div>
    </div>
  </section>



    <section class="cid-ryhbKc0wrA" id="minisx">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-4">
          <div class="image-block">
            <img src="{% static 'about/minisx_plus.webp' %}" alt="4 Channel AirGage Produced by KAO Metrology">
            <figcaption class="mbr-figure-caption mbr-figure-caption-over">
              <div class="wrap">
                <h4 class="pb-2 mbr-white mbr-bold align-center mbr-fonts-style display-2"> 
                  MiniSx+
                 </h4>
                <p class="pb-2 mbr-white align-center mbr-fonts-style display-2">
                </p>
              </div>
            </figcaption>
          </div>


          
        </div>

<div class="col-lg-4">
 

        <p class="pb-2 mbr-black align-left mbr-fonts-style display-5 py-5">
               <h7> &#x2022 {% trans '2-4 Channel Multiple Showings'%}   &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &#x2022 {% trans 'Part Counting Functions'%}</h7>
            <br >
            <br>
               <h7>  &#x2022  {% trans 'Resolution: 0.1um' %} &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &#x2022 {% trans '100 Part Memory'%} </h7>
             <br>
             <br>
               <h7>  &#x2022  {% trans 'Repeatability: 0.1um' %} &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp;    &#x2022 {% trans '100 Measurement memory'%}  </h7>
          <br>
            <br>
               <h7>  &#x2022  {% trans 'Use internal regulators w ease ' %} &nbsp; &nbsp;  &#x2022  {% trans 'USB & RS232 Barcode Usage' %}</h7>
            <br>
            <br>
               <h7>  &#x2022 {%  trans 'Open and Close Air with part'%} <img src="{% static 'about/leaf.png' %}" style="width: 30px; height: 30px;" alt="Ecologicaly Friendly Test Device">  &nbsp;  &#x2022 {% trans 'Storing Last 10000 Records' %} </h7>
            
          <br>
          <br>
               <h7>  &#x2022  {% trans 'Callibration with one button' %}  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &#x2022 {% trans 'FMODUL plugins.' %} </h7>
          <br>
          <br>

               <h7>  &#x2022  {% trans 'Data sharing w PLCs and robots via TCP and industrial protocols.' %} </h7>
              <br>
              <br>
               <h7>  &#x2022  {% trans  'Wireless Ethernet Connection & Ethernet Cable connection' %}   </h7>

            
                <a class="btn btn-md btn-black display-4 align-center"  a href= "{% static 'about/MiniSX_tur.pdf'%}" download="KAOX_tur.pdf">
                PDF(Tur)
               </a>
                
               <a class="btn btn-md btn-black display-4 align-center"  a href= "{% static 'about/MiniSX_tur.pdf'%}" download="MiniSX_en.pdf">
                PDF(Eng)
               </a>
              
               <a class="btn btn-md btn-black display-4 align-center"  a href= "{% static 'about/MiniSX_tur.pdf'%}" download="MiniSX_de.pdf">
                PDF(Deu)
               </a>




                </p>

          
        </div>

<!--
        <div class="col-lg-4">

          <div class="video-container" style="width: 100%;">
           <iframe  width="100%" height="100%" src="https://www.youtube.com/embed/hIFjIKWcKsI?autoplay=1" frameborder="0" allowfullscreen></iframe>
  </video>
</div>


        </div>
      -->
    



        </div>

        



        
     
         

        </div>

        
   
  </section>

  
         
  <section class="header3 cid-ryh9am114g" id="content01-3d-contactus">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 col-lg-6 py-5 m-auto">
          <div class="media-content">
            <h1 class="mbr-section-title align-center mbr-bold mbr-white pb-3 mbr-fonts-style display-2">
              {% trans 'Are you interested ?' %}
            </h1>
      <h1 class="mbr-section-title align-center mbr-bold mbr-white pb-3 mbr-fonts-style display-2">
        {% trans 'Contact Us' %}
            </h1>
            <div class="mbr-section-text mbr-white pb-3 ">
              <p class="mbr-text align-right align-right mbr-fonts-style display-7">

			   
                </p>
            </div>
            <div class="mbr-section-btn align-center">
              <a class="btn btn-md btn-white-outline display-4" a href= "{% url 'contact_page' %}"  >
                {% trans 'CONTACT' %} </a>
            </div>
          </div>


        </div>  
      </div>
    </div>
  </section>







  <section class="cid-ryhbKc0wrA" id="Kaox">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-4">
          <div class="image-block">
            <img src="{% static 'about/kaoxc.webp' %}" alt="2/4 Channel AirGage Produced by Kao Metrology">
            <figcaption class="mbr-figure-caption mbr-figure-caption-over">
              <div class="wrap">
                <h4 class="pb-2 mbr-white mbr-bold align-center mbr-fonts-style display-2"> 
                  KA0X 
                </h4>
                <p class="pb-2 mbr-white align-center mbr-fonts-style display-2">

                </p>
              </div>
            </figcaption>
          </div>
        </div>

<div class="col-lg-4">
  <!--
        <p class="pb-2 mbr-bold align-leftmbr-fonts-style display-5 py-5">
          <h7>FEATURES</h7>
        </p>  
      -->

        <p class="pb-2 mbr-black align-left mbr-fonts-style display-5 py-5">
               <h7> &#x2022 {% trans '2-4 Channel Multiple Showings'%}   &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &#x2022 {% trans 'Part Counting Functions'%}</h7>
            <br >
            <br>
               <h7>  &#x2022  {% trans 'Resolution: 0.1um' %} &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &#x2022 {% trans '100 Part Memory'%} </h7>
             <br>
             <br>
               <h7>  &#x2022  {% trans 'Repeatability: 0.1um' %} &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp;    &#x2022 {% trans '100 Measurement memory'%}  </h7>
          <br>
            <br>
               <h7>  &#x2022  {% trans 'Use internal regulators w ease ' %}  &nbsp; &#x2022  {% trans 'USB & RS232 Barcode Usage' %}</h7>
            <br>
            <br>
               <h7>  &#x2022 {%  trans 'Open and Close Air with part'%} <img src="{% static 'about/leaf.png' %}" style="width: 30px; height: 30px;" alt="Ecologicaly Friendly Test Device">  &nbsp;   &#x2022 {% trans 'Storing Last 10000 Records' %} </h7>
            
          <br>
          <br>
               <h7>  &#x2022  {% trans 'Callibration with one button' %}  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &#x2022 {% trans 'FMODUL plugins.' %} </h7>
          <br>
          <br>

               <h7>  &#x2022  {% trans 'Data sharing w PLCs and robots via TCP and industrial protocols.' %} </h7>
              <br>
              <br>
               <h7>  &#x2022  {% trans  'Wireless Ethernet Connection & Ethernet Cable connection' %}   </h7>

            
                <a class="btn btn-md btn-black display-4 align-center"  a href= "{% static 'about/KA0X_tur.pdf'%}" download="KAOX_tur.pdf">
                PDF(Tur)
               </a>
                
               <a class="btn btn-md btn-black display-4 align-center"  a href= "{% static 'about/KA0X_tur.pdf'%}" download="KA0X_en.pdf">
                PDF(Eng)
               </a>
              
               <a class="btn btn-md btn-black display-4 align-center"  a href= "{% static 'about/KA0X_tur.pdf'%}" download="KA0X_en.pdf">
                PDF(Deu)
               </a>




                </p>

          
        </div>




        </div>
    
    </div>
  </section>










 <section class="header3 cid-ryh9am114g" id="content01-3d">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 col-lg-6 py-5 m-auto">
          <div class="media-content">
            <h1 class="mbr-section-title align-center mbr-bold mbr-white pb-3 mbr-fonts-style display-2">
              {% trans 'Reason for Air-gaging ?' %}
            </h1>
      <h1 class="mbr-section-title align-center mbr-bold mbr-white pb-3 mbr-fonts-style display-4">
           </h1>
            <div class="mbr-section-text mbr-white pb-3 ">
              <p class="mbr-text align-center align-center mbr-fonts-style display-7">
        {% trans 'Air gaging is commonly used in situations where high precision is required, especially in industries like machining, automotive manufacturing, and aerospace. It is known for its speed, accuracy, and the ability to measure tight tolerances. Air gaging is particularly suitable for measuring features like bores, grooves, and other internal dimensions where traditional contact methods might be challenging or impractical.' %}
          </p>

        <p class="mbr-text align-center align-center mbr-fonts-style display-7"> 
        {% trans 'We offer the best products and the services  to our customers and the distributors all around the world.' %}
                </p>




            </div>
            <div class="mbr-section-btn align-center">
              <a class="btn btn-md btn-white-outline display-4" a href= "{% url 'contact_page' %}"  >
                {% trans 'GET A QUOTE' %}
               </a>
            </div>
          </div>


        </div>  
      </div>
    </div>
  </section>







  <section class="cid-ryhbKc0wrA" id="ka100">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-4">
          <div class="image-block">
            <img src="{% static 'about/ka100.webp' %}" alt="4 Channel AirGage">
            <figcaption class="mbr-figure-caption mbr-figure-caption-over">
              <div class="wrap">
                <h4 class="pb-2 mbr-white mbr-bold align-center mbr-fonts-style display-2"> 
                  KA100
                </h4>
                <p class="pb-2 mbr-white align-center mbr-fonts-style display-2">

                </p>
              </div>
            </figcaption>
          </div>

        </div>


      <div class="col-lg-4">
  <!--
        <p class="pb-2 mbr-bold align-leftmbr-fonts-style display-5 py-5">
          <h7>FEATURES</h7>
        </p>  
      -->

        <p class="pb-2 mbr-black align-left mbr-fonts-style display-5 py-5">
               <h7> &#x2022 {% trans '4 Channel Multiple/Single Showings'%}    &nbsp; &#x2022 {% trans ' Part Counting Functions'%}</h7>
            <br >
            <br>
               <h7>  &#x2022  {% trans 'Resolution: 0.1um' %} &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &#x2022 {% trans '100 Part Memory'%} </h7>
             <br>
             <br>
               <h7>  &#x2022  {% trans 'Repeatability: 0.1um' %} &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp;  &#x2022 {% trans '100 Measurement memory'%}  </h7>
          <br>
            <br>
               <h7>  &#x2022  {% trans 'Use internal regulators w ease  ' %}  &nbsp; &nbsp; &#x2022  {% trans 'USB & RS232 Barcode Usage' %}</h7>
            <br>
            <br>
               <h7>  &#x2022 {%  trans 'Open and Close Air with part'%} <img src="{% static 'about/leaf.png' %}" style="width: 30px; height: 30px;" alt="Ecologicaly Friendly Test Device">  &nbsp; &#x2022 {% trans 'Storing Last 10000 Records' %} </h7>
            
          <br>
          <br>
               <h7>  &#x2022  {% trans 'Callibration with one button' %}  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &#x2022 {% trans 'FMODUL plugins.' %} </h7>
          <br>
          <br>

               <h7>  &#x2022  {% trans 'Data sharing w PLCs and robots via TCP and industrial protocols.' %} </h7>
              <br>
              <br>
               <h7>  &#x2022  {% trans  'Wireless Ethernet Connection & Ethernet Cable connection' %}   </h7>

            
                <a class="btn btn-md btn-black display-4 align-center"  a href= "{% static 'about/KA100_tur.pdf'%}" download="KA100_tur.pdf">
                PDF(Turkish)
               </a>
                
               <a class="btn btn-md btn-black display-4 align-center"  a href= "{% static 'about/KA100_tur.pdf'%}" download="KA100_en.pdf">
                PDF(English)
               </a>
              
            <a class="btn btn-md btn-black display-4" a href= "{% static 'about/KA100.STEP'%}" download="KA100.STEP">
                STEP
               </a>




                </p>

          
        </div> 

         <div class="col-lg-4">

          <model-viewer src="{% static 'about/KA100.gltf' %}" camera-controls></model-viewer> 
          
        <model-viewer src="KA100.gltf" ar ar-modes="webxr scene-viewer quick-look" camera-controls poster="poster.webp" shadow-intensity="2" environment-image="aircraft_workshop_01_1k.hdr" tone-mapping="neutral" auto-rotate>
    <div class="progress-bar hide" slot="progress-bar">
        <div class="update-bar"></div>
    </div>
    <button slot="ar-button" id="ar-button">
        View in your space
    </button>
    <div id="ar-prompt">
        <img src="https://modelviewer.dev/shared-assets/icons/hand.png" alt="hand control">
    </div>
</model-viewer>


        </div>
        
        
        
        
    </div>
    
    </div>
  </section>








  <section class="header3 cid-ryh9am114g" id="content01-3d">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 col-lg-6 py-5 m-auto">
          <div class="media-content">
            <h1 class="mbr-section-title align-center mbr-bold mbr-white pb-3 mbr-fonts-style display-2">
              {% trans 'Are you interested ?' %}
            </h1>
      <h1 class="mbr-section-title align-center mbr-bold mbr-white pb-3 mbr-fonts-style display-2">
              {% trans 'Contact Us' %}
            </h1>
            <div class="mbr-section-text mbr-white pb-3 ">
              <p class="mbr-text align-center align-center mbr-fonts-style display-7">
              </p>
            </div>
            <div class="mbr-section-btn align-center">
              <a class="btn btn-md btn-white-outline display-4" a href= "{% url 'contact_page' %}"  >
                {% trans 'CONTACT' %}
              </a>
            </div>
          </div>


        </div>  
      </div>
    </div>


    
  </section>







  <section class="cid-ryhbKc0wrA" id="ka200">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-4">
          <div class="image-block">
            <img src="{% static 'about/ka200.webp' %}" width="100" height="100" alt="8 Channel AirGage produced by KAO Metrology">
            <figcaption class="mbr-figure-caption mbr-figure-caption-over">
              <div class="wrap">
                <h4 class="pb-2 mbr-white mbr-bold align-center mbr-fonts-style display-2"> 
                  KA200
                </h4>
                <p class="pb-2 mbr-white align-center mbr-fonts-style display-2">

                </p>
              </div>
            </figcaption>
          </div>

        </div>


      <div class="col-lg-4">


        <p class="pb-2 mbr-black align-left mbr-fonts-style display-5 py-5">
               <h7> &#x2022 {% trans '8 Channel Multiple/Single Showings'%}   &nbsp;  &#x2022 {% trans 'Part Counting Functions'%}</h7>
            <br >
            <br>
               <h7>  &#x2022  {% trans 'Resolution: 0.1um' %} &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &#x2022 {% trans '100 Part Memory'%} </h7>
             <br>
             <br>
               <h7>  &#x2022  {% trans 'Repeatability: 0.1um' %}  &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp;    &#x2022 {% trans '100 Measurement memory'%}  </h7>
          <br>
            <br>
               <h7>  &#x2022  {% trans 'Use internal regulators w ease ' %}  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &#x2022  {% trans 'USB & RS232 Barcode Usage' %}</h7>
            <br>
            <br>
               <h7>  &#x2022 {%  trans 'Open and Close Air with part'%} <img src="{% static 'about/leaf.png' %}" style="width: 30px; height: 30px;" alt="Ecologicaly Friendly Test Device">  &nbsp; &#x2022 {% trans 'Storing Last 10000 Records' %} </h7>
            
          <br>
          <br>
               <h7>  &#x2022  {% trans 'Callibration with one button' %}  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &#x2022 {% trans 'FMODUL plugins.' %} </h7>
          <br>
          <br>

               <h7>  &#x2022  {% trans 'Data sharing w PLCs and robots via TCP and industrial protocols.' %} </h7>
              <br>
              <br>
               <h7>  &#x2022  {% trans  'Wireless Ethernet Connection & Ethernet Cable connection' %}   </h7>

            
                <a class="btn btn-md btn-black display-4 align-center"  a href= "{% static 'about/KA200_tur.pdf'%}" download="KA200_tur.pdf">
                PDF(Turkish)
               </a>
                
               <a class="btn btn-md btn-black display-4 align-center"  a href= "{% static 'about/KA200_tur.pdf'%}" download="KA200_en.pdf">
                PDF(English)
               </a>
              
            <a class="btn btn-md btn-black display-4" a href= "{% static 'about/KA100.STEP'%}" download="KA100.STEP">
                STEP
               </a>




                </p>

          
        </div> 


           <div class="col-lg-4">

          <model-viewer src="{% static 'about/KA200.gltf' %}" camera-controls></model-viewer> 
        <model-viewer src="KA200.gltf" ar ar-modes="webxr scene-viewer quick-look" camera-controls poster="poster.webp" shadow-intensity="2" environment-image="aircraft_workshop_01_1k.hdr" tone-mapping="neutral" auto-rotate>
    <div class="progress-bar hide" slot="progress-bar">
        <div class="update-bar"></div>
    </div>
    <button slot="ar-button" id="ar-button">
        View in your space
    </button>
    <div id="ar-prompt">
        <img src="https://modelviewer.dev/shared-assets/icons/hand.png" alt="hand control">
    </div>
</model-viewer>


        </div>
        
        


        
        </div>
    
    </div>



  </section>




  <section class="map1 cid-ryha8paJop" id="map01-3h">
    <div class="google-map">
      <iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12044.499649022328!2d28.7119864!3d41.0006391!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14caa0fb16d7bc9d%3A0x415f5b54bf6d0006!2sKAO%20Elektronik%20ve%20Bilgisayar%20San.Tic.Ltd.%C5%9Eti!5e0!3m2!1sen!2spl!4v1703979517447!5m2!1sen!2spl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> allowfullscreen="" data-gtm-yt-inspected-19="true" data-gtm-yt-inspected-27="true">
      </iframe>
    </div>
  </section>
  <section class="header3 cid-ryha7dvnCF" id="social01-3g">
    <div class="container">
      <div class="mbr-section-btn align-center pb-3">
  
        <img src="{% static 'about/turkiye-seeklogo.jpg' %}" alt="turkiyelogo" style="width:200px; height:200px;">
        <br>
         <a href="https://www.linkedin.com/company/kao-metrology/">
            <img src="{% static 'about/LI-In-Bug.png' %}" alt="linked-in logo" style="width:50px; height:50px;">
        </a>
      
        <a href="https://www.youtube.com/channel/UCO493TfIW7Lj_l8v8woqg8Q">
            <img src="{% static 'about/youtube_logo_new.png' %}" alt="youtube logo" style="width:50px; height:50px;">
        </a>
        
        <a href="https://www.facebook.com/profile.php?id=61554340107729">
            <img src="{% static 'about/facebook_new_logo.png' %}" alt="facebook logo" style="width:50px; height:50px;">
        </a>




      </div>
      
      </div>

      <nav class="navbar-eski  navbar-nav-eski navbar-dark-eski bg-blue-eski ">
        <div class="container align-middle" style="margin-left: 425px;"> 
    <div class="d-flex justify-content-center" id="navbarSupportedContent">
        <ul class="navbar-nav d-flex flex-row list-unstyled">
            <li class="nav-item mbr-section-btn mx-2">
                <a class="btn btn-md btn-white-outline display-4" href="{% url 'about_page' %}">
                    {% trans 'MENU' %}
                </a>
            </li>
            <li class="nav-item mbr-section-btn mx-2">
                <a class="btn btn-md btn-white-outline display-4" href="{% url 'contact_page' %}">
                    {% trans 'CONTACT' %}
                </a>
            </li>
            <li class="nav-item mbr-section-btn mx-2">
                <a class="btn btn-md btn-white-outline display-4" href="{% url 'products_page' %}">
                    {% trans 'PRODUCTS' %}
                </a>
            </li>
            <li class="nav-item mbr-section-btn mx-2">
                <a class="btn btn-md btn-white-outline display-4" href="https://hightech-metrology.com/blog/">
                    {% trans 'BLOG' %}
                </a>
            </li>
        </ul>
    </div>
</div>
        


                <div class="call_us_section align-middle">
             <img src="{% static 'about/call_us-Photoroom.png' %}" alt="call us logo" style="width:50px; height:50px;"> 
          
             </div>

           <div class="number_section align-middle">
          <h3>0212 5917039-40</h3> 
             </div>
        </nav>
    
  </section>
  <section once="footers" class="cid-ryha9vUPBi" id="footer01-3j">
    <div class="container">
      <div class="media-container-row align-center mbr-white">
        <div class="col-12">
          <p class="mbr-text mb-0 mbr-fonts-style display-7">
            © Copyright 2024 KAO Metrology  - All Rights Reserved
          </p>
        </div>
      </div>
    </div>
  </section>
    <noscript>
    <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=1123285727682531&amp;ev=PageView&amp;noscript=1" alt="Facebook Logo of KAO Metrology">
  </noscript>
 