<!DOCTYPE html>
<html lang="en">
 {% load static %}

{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}


<link rel="stylesheet" type="text/css" href="{% static 'about/style_alternative.css' %}" /> 

<link rel="icon" href="{% static 'about/kao_logo.png' %}" alt="Kao Metrology Logo"> 





 <link rel="canonical" href="https://www.hightech-metrology.com/en/"/>


{% for lang_code, lang_name in LANGUAGES %}
     <link rel="alternate" href="https://www.hightech-metrology.com/{{ lang_code }}/" hreflang="{{ lang_code }}" />

{% endfor %}


  <script src="script.js"></script>


<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-S1K2JYNCMG"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-S1K2JYNCMG');
</script>


<title>Most Reliable Leak Testing Method | Leak Testing Devices | Air Gaging Devices</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Affordable High-Tech Airgages, Leak-Testing Devices and Callibrators. Kao Metrology offers High-Tech metrological devices with very affordable prices.">




    <nav class="navbar-eski navbar-expand-lg navbar-nav-eski navbar-brand-eski  navbar-dark-eski bg-blue-eski">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation" >
              <span class="navbar-toggler-icon-eski">

                </span>
              </button>

            <div class="container">
<div class="navbar-collapse-eski show collapse  " id="navbarSupportedContent" >
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

                        <li class="btn-white-outline btn btn-top"><a class="active-new" aria-current="page" href="{% url 'about_page' %}">{% trans 'Menu' %}</a></li>


                         <li class=" btn-white-outline btn btn-top  dropdown" id="productsdropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">{% trans 'Products' %}</a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="{% url 'dimensional_measurement' %}">{% trans 'Dimensional Measurement'  %}</a></li>
                                <li><a class="dropdown-item" href="{% url 'leak_testing' %}">{% trans 'Leak Testing Devices' %}</a></li>
                                <li><a class="dropdown-item" href="{% url 'callibrators' %}">{% trans 'Callibrators ' %}</a></li>
                                <li><a class="dropdown-item" href="{% url 'accessories' %}">{% trans 'Accessories' %}</a></li>
                          </ul>
                        </li>

                       

                             <li class="btn btn-white-outline btn-top dropdown" id="servicesdropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">{% trans 'Services' %}</a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" a href="{% url 'services'%}#probes">{% trans 'Probe Design'  %}</a></li>
                                <li><a class="dropdown-item" a href="{% url 'services'%}#automachines">{% trans 'Automation Projects'  %}</a></li>
                                <li><a class="dropdown-item" a href="{% url 'services'%}#softwaresupport">{% trans 'Softwares'  %}</a></li>

                          </ul>
                        </li>
                  
                        <li class="btn btn-white-outline btn-top"><a class="nav-link active-new" aria-current="page" href="https://hightech-metrology.com/blog/">{% trans 'Blog' %}</a></li>

    

<!--                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'services' %}">{% trans 'Services' %}</a></li>--> 
                   
                        <li class="btn btn-top btn-white-outline"><a class="nav-link active-new" aria-current="page" href="{% url 'contact_page' %}"> {% trans 'Contact' %}</a></li>   
      
                   

                      
                      
                      <li class=" btn btn-top btn-white-outline  dropdown" id="languageDropdown">
                          <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="{% static 'about/language.svg' %}" alt="language icon">
                                Languages
                          </a>

                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                              <li><a class="dropdown-item" href="/tr"><img src="{% static 'about/Turkey.png' %}" alt="Turkish flag" style="width: 25px; height: auto;"> {% trans 'Turkish' %}</a></li>
                              <li><a class="dropdown-item" href="/en"><img src="{% static 'about/England.png' %}" alt="English flag" style="width: 25px; height: auto;">{% trans 'English' %}</a></li>
                              <li><a class="dropdown-item" href="/fr"><img src="{% static 'about/france.png' %}" alt="French flag" style="width: 25px; height: auto;">{% trans 'French' %}</a></li>
                              <li><a class="dropdown-item" href="/de"><img src="{% static 'about/German.png' %}" alt="German flag" style="width: 25px; height: auto;">{% trans 'German' %}</a></li>
                              <li><a class="dropdown-item" href="/it"><img src="{% static 'about/Italy.png' %}" alt="Italian flag" style="width: 25px; height: auto;">{% trans 'Italian' %}</a></li>
                              <li><a class="dropdown-item" href="/pl"><img src="{% static 'about/Poland.png' %}" alt="Polish flag" style="width: 25px; height: auto;">{% trans 'Polish' %}</a></li>
                              <li><a class="dropdown-item" href="/es"><img src="{% static 'about/Spain.png' %}" alt="Spanish flag" style="width: 25px; height: auto;">{% trans 'Spanish' %}</a></li>

                            </ul>
                        </li>
                         <!-- mibew button -->
                         <!-- <a id="mibew-agent-button" href="/support/chat?locale=en&amp;style=default" target="_blank" onclick="Mibew.Objects.ChatPopups['665281e99f22c94c'].open();return false;"><img src="/support/b?i=mibew&amp;lang=en" border="0" alt="customer service" /></a><script type="text/javascript" src="/support/js/compiled/chat_popup.js"></script><script type="text/javascript">Mibew.ChatPopup.init({"id":"665277e99f22c94c","url":"\/support\/chat?locale=en&style=default","preferIFrame":false,"modSecurity":false,"forceSecure":false,"style":"default","height":400,"width":500,"resizable":true,"styleLoader":"\/support\/chat\/style\/popup\/default"});</script> -->
                          <!-- / mibew button -->  
                <div class="col-md-2 footer-social animated fadeInDown">
            	<ul>
          <a href="https://www.linkedin.com/company/kao-metrology/">
            <img src="{% static 'about/LI-In-Bug.png' %}" alt="linked-in logo" style="width:50px; height:50px;">
        </a>
          
        <a href="https://www.facebook.com/profile.php?id=61554340107729">
            <img src="{% static 'about/facebook_new_logo.png' %}" alt="facebook logo" style="width:50px; height:50px;">
        </a>
        
        <a href="https://www.youtube.com/channel/UCO493TfIW7Lj_l8v8woqg8Q">
            <img src="{% static 'about/youtube_logo_new.png' %}" alt="youtube logo" style="width:80px; height:80px;">
        </a>
 
                </ul>
            </div>

          </div>
        </nav>





                    </ul>
                </div>

          

          </div>
        </nav>




          
        

<a href="{% url 'about_page' %}">

<div id="company_logo">
    <img src="{% static 'about/company_logo_new.jpeg' %}" class="logo-img" alt="Kao Metrology Logo" >
</div>  
</a>

    <img src="{% static 'about/Cursor.png' %}"  class="cursor-1" width="75" height="75" alt="Cursor Logo">



<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="{% static 'about/airgages.webp' %}" alt="First slide">
          <div class="carousel-caption d-none d-md-block mbr-black mbr-bold-new align-left">
        <h1><span class="badge bg-secondary">Metrological experience for more than 30 years...</span></h1>
        <h1><span class="badge bg-secondary">Delivering Air-gages, Leak Testers and Callibrators 30+ years with love and passion...</span></h1>
  </div>
    </div>

    
    <div class="carousel-item">
      <img class="d-block w-100 kalite_img" src="{% static 'about/kalite_2024.jpeg' %}" alt="Second slide">
      <div class="carousel-caption d-none d-md-block mbr-black mbr-bold-new align-left">
       <h1><span class="badge bg-secondary specific_badge">We are waiting you at the Kao stand in hall number 10 at stand 204. </span></h1>
      </div>
    </div>


    <div class="carousel-item">
      <img class="d-block w-100" src="{% static 'about/kalite_new.webp' %}" alt="Third slide">
      <div class="carousel-caption d-none d-md-block mbr-black mbr-bold-new align-left">
       <h1><span class="badge bg-secondary specific_badge">We are waiting you at the Kao stand in hall number 10 at stand 204. </span></h1>
      </div>
    </div>


  
  
    <div class="carousel-item">
      <img class="d-block w-100" src="{% static 'about/kao_workshop.webp' %}" alt="Fourth slide">
      <div class="carousel-caption d-none d-md-block align-left">
          <h1><span class="badge bg-secondary specific_badge">We are looking for distributors and partners in metrology sector.</span></h1>
      </div>
    </div>
  </div>


  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>



<link rel="stylesheet" type="text/css" media="all" href="https://oguzturk.net/lab/demo/cerez/cerez.css" />
<script type='text/javascript' src='https://oguzturk.net/lab/demo/cerez/cerez.js'></script>
<script>
window.addEventListener("load", function(){
window.cookieconsent.initialise({
"palette": {
"popup": {
"background": "#646478", // şerit arkaplan rengi
"text": "#ffffff" // şerit üzerindeki yazı rengi
},
"button": {
"background": "#8ec760", // buton arkaplan rengi - "transparent" kullanıp border açabilirsiniz.
//"border": "#14a7d0", arkaplan rengini transparent yapıp çerçeve kullanabilirsini
"text": "#ffffff" // buton yazı rengi
}
},
"theme": "classic", // kullanabileceğiniz temalar block, edgeless, classic
// "type": "opt-out", gizle uyarısını aktif etmek için
// "position": "top", aktif ederseniz uyarı üst kısımda görünür
// "position": "top", "static": true, aktif ederseniz uyarı üst kısımda sabit olarak görünür
// "position": "bottom-left", aktif ederseniz uyarı solda görünür
//"position": "bottom-right", aktif ederseniz uyarı sağda görünür
"content": {
"message": "We use cookies to provide you with the best possible user experience. You agree to our use of cookies and our privacy policy.",
"dismiss": "Agree",
"link": "For more Information",
"href": "http://kaometrology.com/"
}
})});
</script>



        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


  <script>
    $(document).ready(function() {
        $('.navbar-toggle').click(function() {
            $('.navbar-collapse-eski').toggleClass('active');
        }); 
    });
</script>


  <section class="header3 cid-ryh9am114g2" id="content01-3d">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 col-lg-6 py-5 m-auto">


    
            
          <div class="media-content">

          <h1 class="mbr-section-title mbr-bold mbr-white pb-4 mbr-fonts-style display-7">



            </h1>

            <h1 class="mbr-section-title align-right mbr-bold mbr-white pb-3 mbr-fonts-style display-2">
              {% trans 'Metrology is our passion' %} 
            </h1>
            <div class="mbr-section-text mbr-white pb-3 ">
              <p class="mbr-text align-right mbr-fonts-style display-7">
              {% trans 'We are more than a metrological device manufacturer combining the latest technologies and innovations with the possibility of new advancements in the manufacturing and automation domain. Apart from producing sophisticated devices with portable usage and aesthetics, we provide embedded solutions to the embedded problems in metrology and automation.' %}
                </p>
            </div>
            <div class="mbr-section-btn align-center">
              <a class="btn btn-md btn-white-outline display-4" a href= "{% url 'products_page' %}"  >
                {% trans 'View More' %}
              </a>
            </div>
          </div>



        </div>


      
    </div>
  </section>

  <script>

            
$(document).ready(function() {

        $('.counter').each(function () {
    $(this).prop('Counter',0).animate({
        Counter: $(this).text()
    }, {
        duration: 1500,
        easing: 'swing',
        step: function (now) {
            $(this).text(Math.ceil(now));
        }
    });
});
 
});  






  </script>






    <section class="cid-ryhbKc0wrA" id="image03-3p">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-4">
          <div class="image-block">
            <a href="{% url 'dimensional_measurement'%}">
            <img src="{% static 'about/minisx_plus.webp' %}" alt="KAO Airgage Devices">
            <figcaption class="mbr-figure-caption mbr-figure-caption-over">
              <div class="wrap">
                <h4 class="pb-2 mbr-white mbr-bold align-center mbr-fonts-style display-2"> 
                  {% trans 'DIMENSIONAL MEASUREMENT' %} 
                </h4>
                <p class="pb-2 mbr-white align-center mbr-fonts-style display-2">
                  {% trans 'We are the masters of Air-gaging with 30+ years of experience.' %}
                </p>
              </div>
            </figcaption>
            </a>  
          </div>
        </div>
        <div class="col-lg-4">
          <div class="image-block">
            <a href="{% url 'leak_testing'%}">
            <img src="{% static 'about/kd201.webp' %}" alt="Leak-Test Devices">
             <figcaption class="mbr-figure-caption mbr-figure-caption-over">
               <div class="wrap">
                <h4 class="pb-2 mbr-white mbr-bold align-center mbr-fonts-style display-2">
                  {% trans 'LEAK TESTING' %}
                </h4>
                <p class="pb-2 mbr-white align-center mbr-fonts-style display-2">
                {% trans 'Our Touch Screen Leak Testing Systems offer portability, secure setup and precision beyond world standards.' %}
                </p>
              </div>
            </figcaption>
            </a>  
          </div>
        </div>
        <div class="col-lg-4">
          <div class="image-block">
            <a href="{% url 'callibrators'%}#kfc60">
            <img src="{% static 'about/KFC60.webp' %}" alt="Flow Callibrators">
            <figcaption class="mbr-figure-caption mbr-figure-caption-over">
              <div class="wrap">
                <h4 class="pb-4 mbr-white mbr-bold align-center mbr-fonts-style display-2">
                  {% trans 'CALLIBRATORS' %}
                </h4>
                <p class="pb-2 mbr-white align-center mbr-fonts-style display-2">
                  {% trans 'Our KAO Flow Callibrator offers precise, fast and +12 hours Usage with regular batteries. '%}
                </p>
              </div>
            </figcaption>
            </a>
          </div>
        </div>
      </div>
      
      
    </div>
  </section>

  

  

<section class="header3 cid-ryh9am114g" id="content01-3d">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 col-lg-6 py-5 m-auto">
          <div class="media-content">
            <h1 class="mbr-section-title align-right mbr-bold mbr-white pb-3 mbr-fonts-style display-2">
              {% trans 'More than Metrology' %}
            </h1>
      <h1 class="mbr-section-title align-right mbr-bold mbr-white pb-3 mbr-fonts-style display-2">
      {% trans 'Embedded solutions to embedded problems' %}
            </h1>
            <div class="mbr-section-text mbr-white pb-3 ">
              {% trans 'Explore innovative answers to embedded challenges with our cutting-edge embedded systems. More than mere measurements, our solutions redefine efficiency, connectivity, and functionality. Dive into a world where precision meets adaptability, shaping the future of technology seamlessly. Discover the power of embedded solutions on our website today.' %}
              <p class="mbr-text align-right align-right mbr-fonts-style display-7">

			   
                </p>
            </div>
            <div class="mbr-section-btn align-center">
              <a class="btn btn-md btn-white-outline display-4" a href= "{% url 'products_page' %}"  >
                {% trans 'View More' %}
              </a>
            </div>
          </div>


        </div>

        <div class="col-md-12 col-lg-0">
          <div class="mbr-figure">
            <img src="{% static 'about/embedded_systems_picture.jpg' %}" alt="Mobirise"  style="max-width: 100%;  height:400px; filter: blur(3px);">
          </div>
        </div>
      </div>
    </div>
  </section>



  <section class="cid-ryhbKc0wrA" id="image03-3p">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-4">
          <div class="image-block">
            <a href="{% url 'callibrators'%}#scanner">
            <img src="{% static 'about/scanner_2.webp' %}" alt="Pressure Scanner by KAO Metrology">
            <figcaption class="mbr-figure-caption mbr-figure-caption-over">
              <div class="wrap">
                <h4 class="pb-2 mbr-white mbr-bold align-center mbr-fonts-style display-2"> 
                  {% trans 'PRESSURE SCANNERS'%}
                </h4>
                <p class="pb-2 mbr-white align-center mbr-fonts-style display-2">
                  {% trans 'High-Tech Pressure Scanning ' %}
                </p>
              </div>
            </figcaption>
            </a>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="image-block">
            <a href="{% url 'services'%}#probes">
            <img src="{% static 'about/probes_new.webp' %}" alt="Probe Service & Design">
             <figcaption class="mbr-figure-caption mbr-figure-caption-over">
               <div class="wrap">
                <h4 class="pb-2 mbr-white mbr-bold align-center mbr-fonts-style display-2">
                  {% trans 'PROBES '%}
                </h4>
                <p class="pb-2 mbr-white align-center mbr-fonts-style display-2">
                  {% trans 'Delivering probes geared to your unique necessities ' %}
                </p>
              </div>
            </figcaption>
            </a>
          </div>
        </div>

        <div class="col-lg-4">
            <div class="image-block">
            <a href="{% url 'accessories'%}">
            <img src="{% static 'about/IO16_exp.webp' %}" alt="KAO Accessories">
              <figcaption class="mbr-figure-caption mbr-figure-caption-over">
              <div class="wrap">
                <h4 class="pb-2 mbr-white mbr-bold align-center mbr-fonts-style display-2">
                  {% trans 'ACCESORIES ' %}
                </h4>
                <p class="pb-2 mbr-white align-center mbr-fonts-style display-2">
                  {% trans 'Discover accessories and tools for our products ' %}
                </p>
              </div>
            </figcaption>
            </a>
          </div>
        </div>
        
      </div>
      

      
    </div>
  </section>




  <section class="cid-ryh8XVUoGh" id="content04-3a">
    <img src="{% static 'about/measuring_1_alternative.png' %}" alt="background image of about page" class="background-image-about">  
    <div class="container align-center">
      <div class="row justify-content-md-center">
        <div class="mbr-black col-md-10 col-lg-6">
          <h3 class="mbr-section-subtitle mbr-semibold align-center mbr-light mbr-fonts-style display-5">
            {% trans 'HISTORY' %}
          </h3>
          <h1 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-1">
            {% trans 'About Us' %}
          </h1>
          <p class="mbr-text pb-0 mbr-fonts-style align-center">
            {% trans 'Kao was founded in Istanbul in 1995 by an idelistic and dynamic team with thirty years of experience in machinery, electronics, and metrology. With a strong R&D team and modern production lines, Kao has been able to create remarkable products in terms of the technical specifications, ergonomics, aesthetics, and durability. Kao has been producing metrological test devices with measurement precision beyond world standards and extremely user-friendly interfaces in the field of metrology As Kao-Metrology, we aim to collaborate with industrialists to contribute to creating a more efficient and powerful metrological system for a reliable future. Therefore, we see every product we develop as a helper that opens the door to new possibilities. Please dont hesitate to share your thoughts on our products and technologies you encountered on our website. Wishing for every tomorrow to be brighter than today... ' %}
          </p>
        </div>
      </div>
    </div>
  </section>




<section class="cid-ryh5QMYr6T cid-ryh9am114g1 snipcss-3QwaC" id="content04-32">
    <div class="image-container">
            <img src="{% static 'about/briefcase.png' %}" alt="Subscribe to our Newsletter" class="briefcase-image">
          </div>

    <div class="container-fluid align-center">
        <div class="row justify-content-md-center">
            <div class="mbr-black col-md-10 col-lg-6">
                <h3 class="mbr-section-subtitle mbr-semibold align-center mbr-light mbr-fonts-style display-5">OUR PREVIOUS EVENTS</h3>
                <h1 class="mbr-section-title mbr-bold pb-3  display-1">
                    <div><span id="style-6RQJJ" class="style-6RQJJ">Previous Exhibitions</span></div>
                </h1>
            </div>
        </div>
    </div>
</section>


<section class="features1 cid-ryh3RiJqTw snipcss0-0-0-1 snipcss-oKfck" id="features08-2m">
    <div class="container snipcss0-1-1-2">
        <div class="row snipcss0-2-2-3">

<div class="card col-12 col-md-6 col-lg-4 snipcss0-3-3-4">
                <div class="card-img snipcss0-4-4-5">
                  <img src="{% static 'about/control_exhibition.png' %}" alt="Kalite Exhibition 2023" style="width: 200px; height: 250px;">
                </div>
                <div class="card-box pt-4 snipcss0-4-4-7">
                    <h4 class="card-title align-center pb-1 mbr-bold mbr-fonts-style display-5 snipcss0-5-7-9">Control Messe, Stuttgart</h4>
        
        

                </div>
            </div>


<div class="card col-12 col-md-6 col-lg-4 snipcss0-3-3-4">
                <div class="card-img snipcss0-4-4-5">
                  <img src="{% static 'about/Kalite23.jpg' %}" alt="Kalite Exhibition 2023">
                </div>
                <div class="card-box pt-4 snipcss0-4-4-7">
                    <h4 class="card-title align-center pb-1 mbr-bold mbr-fonts-style display-5 snipcss0-5-7-9">KALITE2023 Exhibition</h4>
        
        

                </div>
            </div>


            <div class="card col-12 col-md-6 col-lg-4 snipcss0-3-3-4">
                <div class="card-img snipcss0-4-4-5">
                  <img src="{% static 'about/kalite_new.jpeg' %}" alt="Kalite Exhibition">
                </div>
                <div class="card-box pt-4 snipcss0-4-4-7">
                    <h5 class="card-subtitle align-center pb-4 mbr-fonts-style display-7 snipcss0-5-7-8">October 09 - October 12, 2024</h5>
                    <h4 class="card-title align-center pb-1 mbr-bold mbr-fonts-style display-5 snipcss0-5-7-9">KALITE2024 Exhibition</h4>
                    <p class="mbr-text align-center pb-3 mbr-fonts-style display-7 snipcss0-5-7-10">Visit our stand in Kalite 2024 exhibition that takes place in October in Istanbul</p>
        
        
                    <p class="link align-center mbr-fonts-style display-7 snipcss0-5-7-11">
                  Check out our upcoming exhibitions in the latest blog post: 
                <a href="https://hightech-metrology.com/blog/2024/08/kalite-24" class="text-black snipcss0-6-11-12" alt="our upcoming exhibitions">Read more about our upcoming exhibitions</a>.
                    </p>

                </div>
            </div>

    

            <!--
            <div class="card col-12 col-md-6 col-lg-4 snipcss0-3-3-13">
                <div class="card-img snipcss0-4-13-14">
                </div>
                <div class="card-box pt-4 snipcss0-4-13-16">
                    <h5 class="card-subtitle align-center pb-4 mbr-fonts-style display-7 snipcss0-5-16-17">JULY 15 - NOVEMBER 16, 2019</h5>
                    <h4 class="card-title align-center pb-1 mbr-bold mbr-fonts-style display-5 snipcss0-5-16-18">Absorbed in the exquisite sense of tranquil</h4>
                    <p class="mbr-text align-center pb-3 mbr-fonts-style display-7 snipcss0-5-16-19"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ullamcorper elementum felis in bibendum. Proin vitae turpis ipsum.</p>
                    <h5 class="link align-center mbr-fonts-style display-7 snipcss0-5-16-20"><a href="#" class="text-black snipcss0-6-20-21"> READ MORE</a></h5>
                </div>
            </div>
            <div class="card col-12 col-md-6 col-lg-4 snipcss0-3-3-22">
                <div class="card-img snipcss0-4-22-23">
                </div>
                <div class="card-box pt-4 snipcss0-4-22-25">
                    <h5 class="card-subtitle pb-4 align-center mbr-fonts-style display-7 snipcss0-5-25-26">JULY 17 - NOVEMBER 19, 2019</h5>
                    <h4 class="card-title align-center pb-1 mbr-bold mbr-fonts-style display-5 snipcss0-5-25-27">The meridian sun strikes the upper surface</h4>
                    <p class="mbr-text align-center pb-3 mbr-fonts-style display-7 snipcss0-5-25-28"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ullamcorper elementum felis in bibendum. Proin vitae turpis ipsum.</p>
                    <h5 class="link align-center mbr-fonts-style display-7 snipcss0-5-25-29"><a href="#" class="text-black snipcss0-6-29-30"> READ MORE</a></h5>
                </div>
            </div>
          -->
        </div>
    </div>
</section>



<script type="text/javascript">
    /** This section is only needed once per page if manually copying **/
    if (typeof MauticSDKLoaded == 'undefined') {
        var MauticSDKLoaded = true;
        var head            = document.getElementsByTagName('head')[0];
        var script          = document.createElement('script');
        script.type         = 'text/javascript';
        script.src          = 'https://hightech-metrology.com/marketing/media/js/mautic-form.js?vcf061a1c';
        script.onload       = function() {
            MauticSDK.onLoad();
        };
        head.appendChild(script);
        var MauticDomain = 'https://hightech-metrology.com/marketing';
        var MauticLang   = {
            'submittingMessage': "Please wait..."
        }
    }else if (typeof MauticSDK != 'undefined') {
        MauticSDK.onLoad();
    }
</script>


    


    

<section class="header3 cid-ryh9am114g" id="content01-3d">
    <div class="container-fluid" >
      <div class="row">

     <!-- Left side for the image -->
          <div class="image-container">
            <img src="{% static 'about/e_mail_logo.png' %}" alt="Subscribe to our Newsletter" class="newsletter-image">
          </div>


        <div class="col-md-12 col-lg-0 py-5 m-auto">
          <div class="media-content">
            




            <h1 class="mbr-section-title align-right mbr-bold mbr-white pb-3 mbr-fonts-style display-2">
              {% trans 'Subscribe to our Newsletter' %}
            </h1>
      <h1 class="mbr-section-title align-right mbr-bold mbr-white pb-3 mbr-fonts-style display-2">
      {% trans 'Follow-up with the latest news and the products' %}
            </h1>
  


            <style type="text/css" scoped>
    .mauticform_wrapper { max-width: 600px; margin: 10px auto; }
    .mauticform-innerform {}
    .mauticform-post-success {}
    .mauticform-name { font-weight: bold; font-size: 1.5em; margin-bottom: 3px; }
    .mauticform-description { margin-top: 2px; margin-bottom: 10px; }
    .mauticform-error { margin-bottom: 10px; color: red; }
    .mauticform-message { margin-bottom: 10px; color: green; }
    .mauticform-row { display: block; margin-bottom: 20px; }
    .mauticform-label { font-size: 1.1em; display: block; font-weight: bold; margin-bottom: 5px; }
    .mauticform-row.mauticform-required .mauticform-label:after { color: #e32; content: " *"; display: inline; }
    .mauticform-helpmessage { display: block; font-size: 0.9em; margin-bottom: 3px; }
    .mauticform-errormsg { display: block; color: red; margin-top: 2px; }
    .mauticform-selectbox, .mauticform-input, .mauticform-textarea { width: 100%; padding: 0.5em 0.5em; border: 1px solid #CCC; background: #fff; box-shadow: 0px 0px 0px #fff inset; border-radius: 4px; box-sizing: border-box; }
    .mauticform-checkboxgrp-row {}
    .mauticform-checkboxgrp-label { font-weight: normal; }
    .mauticform-checkboxgrp-checkbox {}
    .mauticform-radiogrp-row {}
    .mauticform-radiogrp-label { font-weight: normal; }
    .mauticform-radiogrp-radio {}
    .mauticform-button-wrapper .mauticform-button.btn-default, .mauticform-pagebreak-wrapper .mauticform-pagebreak.btn-default { color: #5d6c7c;background-color: #ffffff;border-color: #dddddd;}
    .mauticform-button-wrapper .mauticform-button, .mauticform-pagebreak-wrapper .mauticform-pagebreak { display: inline-block;margin-bottom: 0;font-weight: 600;text-align: center;vertical-align: middle;cursor: pointer;background-image: none;border: 1px solid transparent;white-space: nowrap;padding: 6px 12px;font-size: 13px;line-height: 1.3856;border-radius: 3px;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;}
    .mauticform-button-wrapper .mauticform-button.btn-default[disabled], .mauticform-pagebreak-wrapper .mauticform-pagebreak.btn-default[disabled] { background-color: #ffffff; border-color: #dddddd; opacity: 0.75; cursor: not-allowed; }
    .mauticform-pagebreak-wrapper .mauticform-button-wrapper {  display: inline; }
</style>

<style type="text/css" scoped>
    .mauticform-field-hidden { display:none }
</style>




 <script type="text/javascript" src="//hightech-metrology.com/marketing/form/generate.js?id=1"></script> 


          </div>


        </div>

    
      </div>
    </div>
  </section>







  <section class="map1 cid-ryha8paJop" id="map01-3h">
    <div class="google-map">
      <iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12044.499649022328!2d28.7119864!3d41.0006391!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14caa0fb16d7bc9d%3A0x415f5b54bf6d0006!2sKAO%20Elektronik%20ve%20Bilgisayar%20San.Tic.Ltd.%C5%9Eti!5e0!3m2!1sen!2spl!4v1703979517447!5m2!1sen!2spl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"> allowfullscreen="" data-gtm-yt-inspected-19="true" data-gtm-yt-inspected-27="true"</iframe>
      </iframe>
    </div>
  </section>




 
<!--  

  <section class="header3 cid-ryha7dvnCF" id="social01-3g">
    <div class="container">

      <div class="mbr-section-btn align-center pb-3">
        

    <img src="{% static 'about/turkiye-seeklogo.jpg' %}" alt="turkiyelogo" style="width:200px; height:200px;">
    <img src="{% static 'about/yerli_uretim.jpeg' %}" alt="yerli uretim" style="width:390px; height:200px;" class="responsive-yerli">

        <br>
         <a href="https://www.linkedin.com/company/kao-metrology/">
            <img src="{% static 'about/LI-In-Bug.png' %}" alt="linked-in logo" style="width:50px; height:50px;">
        </a>
      
        <a href="https://www.youtube.com/channel/UCO493TfIW7Lj_l8v8woqg8Q">
            <img src="{% static 'about/youtube_logo_new.png' %}" alt="youtube logo" style="width:50px; height:50px;">
        </a>
        
        <a href="https://www.facebook.com/profile.php?id=61554340107729">
            <img src="{% static 'about/facebook_new_logo.png' %}" alt="facebook logo" style="width:50px; height:50px;">
        </a>
        
        <br>

  
      </div>

      
      </div>
     
  





<div class="container center_it"> 
    <div class="d-flex justify-content-md-center" id="navbarSupportedContent">
        <ul class="navbar-nav d-flex flex-row list-unstyled">
            <li class="nav-item mbr-section-btn mx-2 menu-item">
                <a class="btn btn-md btn-menu btn-white-outline display-4" href="{% url 'about_page' %}">
                    <h4>{% trans 'MENU' %}</h4>
                </a>
            </li>
            <li class="nav-item mbr-section-btn mx-2">
                <a class="btn btn-md btn-contact btn-white-outline display-4" href="{% url 'contact_page' %}">
                   <h4> {% trans 'CONTACT' %}</h4>
                </a>
            </li>
            <li class="nav-item mbr-section-btn mx-2 ">
                <a class="btn btn-md btn-product btn-white-outline display-4" href="{% url 'products_page' %}">
                    <h4>{% trans 'PRODUCTS' %}</h4>
                </a>
            </li>
            <li class="nav-item mbr-section-btn mx-2">
                <a class="btn btn-md btn-blog btn-white-outline display-4" href="https://hightech-metrology.com/blog/">
                   <h4>{% trans 'BLOG' %}</h4> 
                </a>
            </li>
        </ul>
    </div>
</div>

  <div class="horizontal_line"></div>  


        <img src="{% static 'about/company_logo_new.jpeg' %}" alt="company logo new" style="width:200px; height:100px; margin-left: 10%; filter: blur(1px);">  

      <div class="mb-2  btn  btn-white-outline  new-loc-card-items">
          <h2>Pneumatic Air Gaging Devices</h2>
          
        </div>

        <div class="mb-2  btn  btn-white-outline  new-loc-card-items-2">
          <h2>Leak Testing Devices</h2>
          
        </div>





        
        
        <h6 div class="mbr-white mbr-bold" style="margin-left: 10%;">


                  <div class="mbr-light mbr-bold-new">
        Üniversite mah.Firuzköy Bulvari
        <br>
         No:79/1 , 34315
        <br>
        Istanbul , Turkiye 
        <br>
        kao@kaometrology.com
        <br>
        Tel: +90 212 591 70 39 / 40 
        </h6> 
      </div>




        <div class="call_us_section align-center">
             <img src="{% static 'about/call_us-Photoroom.png' %}" alt="call us logo" style="width:50px; height:50px;"> 
          
             </div>

             

           <div class="number_section align-center">
          <h3>0212 5917039-40</h3> 
             </div>
        
     
  
  </section>

--> 

<!--

  <section once="footers" class="cid-ryha9vUPBi" id="footer01-3j">

<div class="align-ci-cd">
        <h6>ci-cd pipeline</h6>
      </div>

    <div class="container">


      <div class="media-container-row align-center mbr-white">
        <div class="col-12">    
          <p class="mbr-text mb-0 mbr-fonts-style display-7">
            © Copyright 2024 KAO Metrology  - All Rights Reserved
          </p>
        </div> 
        

      <div class="align-right">
      <img src="{% static 'about/ci_cd_pipeline.png' %}" alt="ci_cd_logo" style="width:50px; height:50px;">  
      </div>

      </div>
    </div>

  </section>

-->

  <noscript>
    <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=1123285727682531&amp;ev=PageView&amp;noscript=1" alt="Facebook Logo of KAO Metrology">
  </noscript>




<div class="">

<script>
var word1 = 'pressure';
var word2 = 'metrology';
var baseText = 'a ';
var suffixText = ' company';
var part, i = 0, offset = 0, forwards = true, speed = 250, delay = 10, delayCounter = 0;

var wordSwitch = function () {
    setInterval(function () {
        // Determine the current word and its length
        var word = (i == 0) ? word1 : word2;
        var wordLength = word.length;

        if (forwards) {
            if (offset >= wordLength) {
                delayCounter++;
                if (delayCounter == delay) {
                    forwards = false;  // Switch to delete mode
                    delayCounter = 0;
                }
            }
        } else {
            if (offset == 0) {
                forwards = true;
                i = (i == 0) ? 1 : 0;  // Switch between word1 and word2
            }
        }

        // Get the part of the word that should be shown
        part = word.substr(0, offset);

        // Change the offset (move forward or backward)
        if (delayCounter == 0) {
            if (forwards) {
                offset++;
            } else {
                offset--;
            }
        }

        // Display the full text "a [changing word] company"
        $('.word').text(baseText + part + suffixText);
    }, speed);
};

$(document).ready(function () {
    wordSwitch();
});
</script>

	    <!----------- Footer ------------>
    <footer class="footer-bs bg-body-tertiary">
        <div class="row">
        	<div class="col-md-3  footer-brand animated fadeInLeft align-left">
                <img src="{% static 'about/company_logo_new.jpeg' %}" alt="company logo new" style="width:200px; height:100px; margin-left: 10%; filter: blur(1px);">  
                
                <p>Üniversite mah.Firuzköy Bulvari No:79/1 , 34315, Istanbul, Turkiye<p>
                <p>kao@kaometrology.com</p>
                <p>Tel: +90 212 591 70 39 / 40 </p>
                <p>© 2024 Kao Metrology, All rights reserved</p>

                    <div class="sliding_word sliding_word_mob">
                <span class="word"></span>
                    </div>
                      <br>
          
            </div>
          
        	<div class="col-md-3 footer-nav animated fadeInUp">
            	<h4>Products —</h4>
            	<div class="col-md-6">
                    <ul class="pages mbr-light  ">
                      <div class="  btn btn-white-outline btn-mobile btn-web">
                        <li><a href="{% url 'dimensional_measurement' %}">Air Gaging Devices</a></li>
                        </div>
                      <div class="btn btn-white-outline btn-mobile btn-web">
                        <li><a href="{% url 'leak_testing' %}">Leak Testers</a></li>
                        </div>
                      <div class="btn btn-white-outline btn-mobile btn-web" >
                        <li><a href="{% url 'callibrators' %}">Flow Callibrators</a></li>
                        </div>

                      <div class="btn btn-white-outline btn-mobile btn-web" >
                        <li><a href="{% url 'callibrators' %}#scanner">Pressure Scanners</a></li>
                        </div>

                      <div class="btn btn-white-outline btn-mobile btn-web" >
                        <li><a href="{% url 'accessories' %}">Accessories</a></li>
                        </div>
                    </ul>
                </div>
               <!-- 
            	<div class="col-md-6">
                    <ul class="list">
                        <li><a href="#"></a></li>
                        <li><a href="#">Contacts</a></li>
                        <li><a href="#">Terms & Condition</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
              -->
            </div>
        




            
      <div class="col-md-3 footer-nav animated fadeInUp">
            	<h4>Internal Links —</h4>
            	<div class="col-md-6">
                    <ul class="pages">
                <div class="btn btn-white-outline btn-mobile btn-web" >
                        <li><a href="{% url 'about_page' %}">Menu</a></li>
                        </div>

                <div class="btn btn-white-outline btn-mobile btn-web" >
                        <li><a href="{% url 'contact_page' %}">Contact</a></li>
                        </div>

                <div class="btn btn-white-outline btn-mobile btn-web" >
                        <li><a href="{% url 'products_page' %}">Products</a></li>
                        </div>

                     
                  <div class="btn btn-white-outline btn-mobile btn-web" >
                        <li><a href="https://hightech-metrology.com/blog/">Blog</a></li>
                        </div>


                    </ul>
                </div>
            	
            </div>


        	<div class="col-md-2 footer-social animated fadeInDown">
            	<h4>Follow Us</h4>
            	<ul>
          <a href="https://www.linkedin.com/company/kao-metrology/">
            <img src="{% static 'about/LI-In-Bug.png' %}" alt="linked-in logo" style="width:50px; height:50px;">
        </a>
          
        <a href="https://www.facebook.com/profile.php?id=61554340107729">
            <img src="{% static 'about/facebook_new_logo.png' %}" alt="facebook logo" style="width:50px; height:50px;">
        </a>
        
        <a href="https://www.youtube.com/channel/UCO493TfIW7Lj_l8v8woqg8Q">
            <img src="{% static 'about/youtube_logo_new.png' %}" alt="youtube logo" style="width:80px; height:80px;">
        </a>
 
 
        <div class="align-center align-ci-cd" >
      <img src="{% static 'about/ci_cd_pipeline.png' %}" alt="ci_cd_logo" style="width:50px; height:50px;">  
      <h6>CI-CD Pipeline</h6>
      </div>

     <img src="{% static 'about/turkiye-seeklogo.jpg' %}" alt="turkiyelogo" style="width:100px; height:100px;">
    <img src="{% static 'about/yerli_uretim.jpeg' %}" alt="yerli uretim" style="width:145px; height:100px;" class="responsive-yerli">

  


                </ul>
            </div>
            <!--
        	<div class="col-md-3 footer-ns animated fadeInRight">
            	<h4>Newsletter</h4>
                <p>A rover wearing a fuzzy suit doesn’t alarm the real penguins</p>
                <p>
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Search for...">
                      <span class="input-group-btn">
                        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-envelope"></span></button>
                      </span>
                    </div>
                 </p>
            </div>
          -->
        </div>

    </footer>


</div>