 <!DOCTYPE html>
{% load static %}
{% load i18n %}


{% get_current_language as LANGUAGE_CODE %}

 <link rel="stylesheet" type="text/css" href="{% static 'callibrators/style_alternative.css' %}" /> 
 <link rel="icon" href="{% static 'about/kao_logo.png' %}" alt="Kao Metrology Logo"> 


 <link rel="canonical" href="{% url 'callibrators' %}"/>

{% for lang_code, lang_name in LANGUAGES %}
     <link rel="alternate" href="https://www.hightech-metrology.com/{{ lang_code }}/calibrators/" hreflang="{{ lang_code }}" />
{% endfor %}




<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-S1K2JYNCMG"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-S1K2JYNCMG');
</script>
 


<title>Flow Meters | Pressure Scanners | Callibrators</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Flow Meters and Pressure Scanners | Callibrators | Pressure Scanners">


      <nav class="navbar-eski  navbar-nav-eski navbar-brand-eski navbar-expand-lg navbar-dark-eski bg-blue-eski">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon-eski">

            </span>
          </button>
            <div class="container">
                <div class="navbar-collapse-eski show collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

                        <li class="btn  btn-white-outline btn-top nav-item"><a class="active-new" aria-current="page" href="{% url 'about_page' %}">{% trans 'Menu' %}</a></li>
                         <li class="btn btn-white-outline btn-top nav-item dropdown"  id="productsdropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">{% trans 'Products' %}</a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="{% url 'dimensional_measurement' %}">{% trans 'Dimensional Measurement'  %}</a></li>
                                <li><a class="dropdown-item" href="{% url 'leak_testing' %}">{% trans 'Leak Testing Devices' %}</a></li>
                                <li><a class="dropdown-item" href="{% url 'callibrators' %}">{% trans 'Callibrators ' %}</a></li>
                                <li><a class="dropdown-item" href="{% url 'accessories' %}">{% trans 'Accessories' %}</a></li>
                            </ul>
                        </li>
                        
                        <li class="btn btn-white-outline btn-top dropdown" id="servicesdropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">{% trans 'Services' %}</a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" a href="{% url 'services'%}#probes">{% trans 'Probe Design'  %}</a></li>
                                <li><a class="dropdown-item" a href="{% url 'services'%}#automachines">{% trans 'Automation Projects'  %}</a></li>
                                <li><a class="dropdown-item" a href="{% url 'services'%}#softwaresupport">{% trans 'Softwares'  %}</a></li>

                          </ul>
                        </li>
                        
                        <li class="btn btn-white-outline btn-top"><a class="nav-link active-new" aria-current="page" href="https://hightech-metrology.com/blog/">{% trans 'Blog' %}</a></li>

                    <!--    <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'services' %}">{% trans 'Services' %}</a></li> -->
                        <li class="btn btn-white-outline btn-top"><a class="nav-link active-new" aria-current="page" href="{% url 'contact_page' %}">{% trans 'Contact' %}</a></li>   
                      
                      
                      <li class="btn btn-white-outline btn-top dropdown" id="languageDropdown">
                         <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="{% static 'about/language.svg' %}" alt="language icon">
                                Languages
                          </a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                              <li><a class="dropdown-item" href="/tr/leaktesting"><img src="{% static 'about/Turkey.png' %}" alt="Turkish flag" style="width: 25px; height: auto;"> {% trans 'Turkish' %}</a></li>
                              <li><a class="dropdown-item" href="/en/leaktesting"><img src="{% static 'about/England.png' %}" alt="English flag" style="width: 25px; height: auto;">{% trans 'English' %}</a></li>
                              <li><a class="dropdown-item" href="/fr/leaktesting"><img src="{% static 'about/france.png' %}" alt="French flag" style="width: 25px; height: auto;">{% trans 'French' %}</a></li>
                              <li><a class="dropdown-item" href="/de/leaktesting"><img src="{% static 'about/German.png' %}" alt="German flag" style="width: 25px; height: auto;">{% trans 'German' %}</a></li>
                              <li><a class="dropdown-item" href="/it/leaktesting"><img src="{% static 'about/Italy.png' %}" alt="Italian flag" style="width: 25px; height: auto;">{% trans 'Italian' %}</a></li>
                              <li><a class="dropdown-item" href="/pl/leaktesting"><img src="{% static 'about/Poland.png' %}" alt="Polish flag" style="width: 25px; height: auto;">{% trans 'Polish' %}</a></li>
                              <li><a class="dropdown-item" href="/es/leaktesting"><img src="{% static 'about/Spain.png' %}" alt="Spanish flag" style="width: 25px; height: auto;">{% trans 'Spanish' %}</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>



<a href="{% url 'about_page' %}">

<div id="company_logo">
    <img src="{% static 'about/company_logo_new.jpeg' %}" class="logo-img" alt="Kao Metrology Logo">
</div>  
</a>






        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>


   








  <section class="header3 cid-ryh9am114g" id="content01-3d">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 col-lg-6 py-5 m-auto">
          <div class="media-content">
            <h1 class="mbr-section-title align-center mbr-bold mbr-white pb-3 mbr-fonts-style display-2">
              {% trans 'Flow Callibration' %}
            </h1>
            <div class="mbr-section-text mbr-white pb-3 ">
              <p class="mbr-text align-center align-center mbr-fonts-style display-7">
                {% blocktrans %}
              Flow calibration in metrology involves the process of measuring and adjusting the performance of flow measurement devices to ensure their accuracy and reliability.
              Flow measurement is crucial in various industries such as manufacturing, energy, environmental monitoring, and healthcare. 
               Flow calibration is performed to verify that flow meters and instruments accurately measure the rate of fluid flow, whether it's liquid or gas. 
               {% endblocktrans %}
                 </p>
            </div>
            <div class="mbr-section-btn align-center">
              <a class="btn btn-md btn-white-outline display-4" a href= "{% url 'products_page' %}"  >
                {% trans 'View More' %}
              </a>
            </div>
          </div>



        </div>

    </div@media (max-width: 412px) and (max-height: 915px) {

      #carouselExampleIndicators {
             display: none;
         }
     
     .table-responsive-sm {
             overflow-x: auto;
             -webkit-overflow-scrolling: touch;
         }
     
     .center_it
     {
       display:none; 
     }
     
     .btn{
       width: 200px;
     }
     
     .nav-item
     {
       width: 200px;
     }
     
     
     .mbr-text
     {
       font-style: normal;
       line-height: 2;
     }
     
     .display-2
     {
       font-size: 1.5rem !important;
       line-height: 0.7;
     }
     
     .display-7_new
     {
       font-size: 0.5rem !important; 
     }
     
     
     .media_content_new
      {
       width: 200px;
       max-height: 250px;
       margin: auto;
       margin-left: auto;
       padding: 0.5rem;
     }
     
     .media-content
     {
       
     }
     
     
     .responsive-yerli
     {
     
       width: 200px !important; 
       height: 100px !important;
     }
     
     
     .navbar-toggler-icon
     {
       position: relative; 
       top:10px;
       left: 300px;
       z-index: 4;
        
     
     }
     
     
     
     .company-logo
     {
       z-index: 4;
       
     }
     
     
     
     
     
     }
     >
    </div>
  </section>



    <section class="cid-ryhbKc0wrA" id="kfc60">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-4">
          <div class="image-block">
            <img src="{% static 'about/KFC60.webp' %}" alt="Flow Meter produced by KAO Metrology">
            <figcaption class="mbr-figure-caption mbr-figure-caption-over">
              <div class="wrap">
                <h4 class="pb-2 mbr-white mbr-bold align-center mbr-fonts-style display-2"> 
                  KFC60
                 </h4>
                <p class="pb-2 mbr-white align-center mbr-fonts-style display-2">
                  Flow Callibration Device
                </p>
              </div>
            </figcaption>
          </div>

          
        </div>

    
          <div class="col-lg-4">
  <!--
        <p class="pb-2 mbr-bold align-leftmbr-fonts-style display-5 py-5">
          <h7>FEATURES</h7>
        </p>  
      -->

        <p class="pb-2 mbr-black align-left mbr-fonts-style display-5 py-5">
               <h7> &#x2022 {% trans 'Pocket-sized'%}  &nbsp; &nbsp; &#x2022 {% trans '>12 hours usage with regular ion batteries' %}</h7>
            <br >
            <br>
               <h7>  &#x2022  {% trans 'USB connection' %} &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &#x2022 {% trans 'High-Precision'%} </h7>
             <br>
             <br>
               <h7>  &#x2022  {% trans 'Atmospheric Pressure & Temperature' %}</h7>
          <br>
            <br>
              <h7>&#x2022 {% trans 'Automatic turn-off while not transferring to PC'%} </h7>
              <br>
              <br>
               <h7>  &#x2022  {% trans 'Battery indicator' %}  &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &#x2022  {% trans 'Graphic OLED Display' %}</h7>
            <br>
            <br>
               <h7>  &#x2022 {%  trans '1 year Warranty'%} &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;   &#x2022 {% trans 'Storing Last 10000 Records' %} </h7>
              <br>
              <br>  
          
               <h7>  &#x2022  {% trans  'accuracy verification in leakage test devices' %}   </h7>
              <br>
              <br>
                
               
               <a class="btn btn-md btn-black display-4" a href= "{% static 'about/KFC60_tur.pdf'%}" download="KAOFC_tur.pdf">
                PDF(Tur)
               </a>

                <a class="btn btn-md btn-black display-4" a href= "{% static 'about/KFC60_tur.pdf'%}" download="KAOFC_tur.pdf">
                PDF(Eng)
               </a>

               <a class="btn btn-md btn-black display-4" a href= "{% static 'about/KFC60_tur.pdf'%}" download="KAOFC_tur.pdf">
                PDF(Deu)
               </a>

                
                </p>

          
        </div> 

                      


     
         

        </div>

      
    </div>
  </section>




 <section class="header3 cid-ryh9am114g" id="scanner">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 col-lg-6 py-5 m-auto">
          <div class="media-content">
            <h1 class="mbr-section-title align-center mbr-bold mbr-white pb-3 mbr-fonts-style display-2">
              {% trans 'Pressure Scanning' %}
            </h1>
      <h1 class="mbr-section-title align-center mbr-bold mbr-white pb-3 mbr-fonts-style display-4">
           </h1>
            <div class="mbr-section-text mbr-white pb-3 ">
              <p class="mbr-text align-center align-center mbr-fonts-style display-7">
                {% blocktrans %}
                Pressure scanning involves measuring and analyzing pressure variations in systems or devices for purposes such as performance evaluation, quality control, troubleshooting, process optimization, safety monitoring, research and development, and data analysis.
                 It is widely used in industries where pressure is a critical factor, providing insights into system behavior and ensuring operational efficiency and safety.
                 {% endblocktrans %}
          </p>

        <p class="mbr-text align-center align-center mbr-fonts-style display-7"> 
        {% trans 'We offer the best products and the services  to our customers and the distributors all around the world.' %}
                </p>




            </div>
            <div class="mbr-section-btn align-center">
              <a class="btn btn-md btn-white-outline display-4" a href= "{% url 'contact_page' %}"  >
                {% trans 'GET A QUOTE' %}
               </a>
            </div>
          </div>


        </div>  
      </div>
    </div>
  </section>


  <section class="cid-ryhbKc0wrA" id="image03-3p">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-4">
          <div class="image-block">
            <img src="{% static 'about/scanner_2.webp' %}" alt="Pressure Scanner produced by KAO Metrology">
            <figcaption class="mbr-figure-caption mbr-figure-caption-over">
              <div class="wrap">
                <h4 class="pb-2 mbr-white mbr-bold align-center mbr-fonts-style display-2"> 
                </h4>
                <p class="pb-2 mbr-white align-center mbr-fonts-style display-2">

                </p>
              </div>
            </figcaption>
          </div>

        </div>
             <div class="col-lg-4">
          <div class="image-block">
            <img src="{% static 'about/scanner_1.webp' %}" alt="128 Channel Pressure Scanner produced by KAO">
            <figcaption class="mbr-figure-caption mbr-figure-caption-over">
              <div class="wrap">
                <h4 class="pb-2 mbr-white mbr-bold align-center mbr-fonts-style display-2"> 
                </h4>
                <p class="pb-2 mbr-white align-center mbr-fonts-style display-2">

                </p>
              </div>
            </figcaption>
          </div>

        </div>


             <div class="col-lg-4">
          <div class="image-block">
            <img src="{% static 'about/pressure_scanner.jpeg' %}" alt="Customizable Pressure Scanners produced by KAO">
            <figcaption class="mbr-figure-caption mbr-figure-caption-over">
              <div class="wrap">
                <h4 class="pb-2 mbr-white mbr-bold align-center mbr-fonts-style display-2"> 
                </h4>
                <p class="pb-2 mbr-white align-center mbr-fonts-style display-2">

                </p>
              </div>
            </figcaption>
          </div>

        </div>




             <!--              
           <a class="btn btn-md btn-black display-4" a href= "{% static 'about/KD300_tur.pdf'%}" download="KD300.pdf">
            PDF
               </a>
              -->

        </div>
    
    </div>
  </section>






  <section class="header3 cid-ryh9am114g" id="content01-3d">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 col-lg-6 py-5 m-auto">
          <div class="media-content">
            <h1 class="mbr-section-title align-center mbr-bold mbr-white pb-3 mbr-fonts-style display-2">
              {% trans 'Are you interested ?' %}
            </h1>
      <h1 class="mbr-section-title align-center mbr-bold mbr-white pb-3 mbr-fonts-style display-2">
              {% trans 'Contact Us' %}
            </h1>
            <div class="mbr-section-text mbr-white pb-3 ">
              <p class="mbr-text align-center align-center mbr-fonts-style display-7">
              </p>
            </div>
            <div class="mbr-section-btn align-center">
              <a class="btn btn-md btn-white-outline display-4" a href= "{% url 'contact_page' %}"  >
                {% trans 'CONTACT' %}
              </a>
            </div>
          </div>


        </div>  
      </div>
    </div>
  </section>





  <section class="map1 cid-ryha8paJop" id="map01-3h">
    <div class="google-map">
      <iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12044.499649022328!2d28.7119864!3d41.0006391!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14caa0fb16d7bc9d%3A0x415f5b54bf6d0006!2sKAO%20Elektronik%20ve%20Bilgisayar%20San.Tic.Ltd.%C5%9Eti!5e0!3m2!1sen!2spl!4v1703979517447!5m2!1sen!2spl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"> allowfullscreen="" data-gtm-yt-inspected-19="true" data-gtm-yt-inspected-27="true"</iframe>
      </iframe>
    </div>
  </section>



<!--

  <section class="header3 cid-ryha7dvnCF" id="social01-3g">
    <div class="container">

      <div class="mbr-section-btn align-center pb-3">
        

    <img src="{% static 'about/turkiye-seeklogo.jpg' %}" alt="turkiyelogo" style="width:200px; height:200px;">
    <img src="{% static 'about/yerli_uretim.jpeg' %}" alt="yerli uretim" style="width:390px; height:200px;" class="responsive-yerli">

        <br>
         <a href="https://www.linkedin.com/company/kao-metrology/">
            <img src="{% static 'about/LI-In-Bug.png' %}" alt="linked-in logo" style="width:50px; height:50px;">
        </a>
      
        <a href="https://www.youtube.com/channel/UCO493TfIW7Lj_l8v8woqg8Q">
            <img src="{% static 'about/youtube_logo_new.png' %}" alt="youtube logo" style="width:50px; height:50px;">
        </a>
        
        <a href="https://www.facebook.com/profile.php?id=61554340107729">
            <img src="{% static 'about/facebook_new_logo.png' %}" alt="facebook logo" style="width:50px; height:50px;">
        </a>
        
        <br>

  
      </div>

      
      </div>
     
  





<div class="container center_it"> 
    <div class="d-flex justify-content-md-center" id="navbarSupportedContent">
        <ul class="navbar-nav d-flex flex-row list-unstyled">
            <li class="nav-item mbr-section-btn mx-2 menu-item">
                <a class="btn btn-md btn-menu btn-white-outline display-4" href="{% url 'about_page' %}">
                    <h4>{% trans 'MENU' %}</h4>
                </a>
            </li>
            <li class="nav-item mbr-section-btn mx-2">
                <a class="btn btn-md btn-contact btn-white-outline display-4" href="{% url 'contact_page' %}">
                    <h4>{% trans 'CONTACT' %}</h4>
                </a>
            </li>
            <li class="nav-item mbr-section-btn mx-2 ">
                <a class="btn btn-md btn-product btn-white-outline display-4" href="{% url 'products_page' %}">
                    <h4>{% trans 'PRODUCTS' %}</h4>
                </a>
            </li>
            <li class="nav-item mbr-section-btn mx-2">
                <a class="btn btn-md btn-blog btn-white-outline display-4" href="https://hightech-metrology.com/blog/">
                    <h4>{% trans 'BLOG' %}</h4>
                </a>
            </li>
        </ul>
    </div>
</div>



      




        <div class="call_us_section align-center">
             <img src="{% static 'about/call_us-Photoroom.png' %}" alt="call us logo" style="width:50px; height:50px;"> 
          
             </div>

             

           <div class="number_section align-center">
          <h3>0212 5917039-40</h3> 
             </div>
        
     
  
  </section>
  



  <section once="footers" class="cid-ryha9vUPBi" id="footer01-3j">
    <div class="container">
      <div class="media-container-row align-center mbr-white">
        <div class="col-12">
          <p class="mbr-text mb-0 mbr-fonts-style display-7">
            © Copyright 2024 KAO Metrology  - All Rights Reserved
          </p>
        </div>
      </div>
    </div>
  </section>
  <noscript>
    <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=1123285727682531&amp;ev=PageView&amp;noscript=1" alt="Facebook Logo of KAO Metrology">
  </noscript>
 

-->
  
<div class="">

<script>
var word1 = 'pressure';
var word2 = 'metrology';
var baseText = 'a ';
var suffixText = ' company';
var part, i = 0, offset = 0, forwards = true, speed = 250, delay = 10, delayCounter = 0;

var wordSwitch = function () {
    setInterval(function () {
        // Determine the current word and its length
        var word = (i == 0) ? word1 : word2;
        var wordLength = word.length;

        if (forwards) {
            if (offset >= wordLength) {
                delayCounter++;
                if (delayCounter == delay) {
                    forwards = false;  // Switch to delete mode
                    delayCounter = 0;
                }
            }
        } else {
            if (offset == 0) {
                forwards = true;
                i = (i == 0) ? 1 : 0;  // Switch between word1 and word2
            }
        }

        // Get the part of the word that should be shown
        part = word.substr(0, offset);

        // Change the offset (move forward or backward)
        if (delayCounter == 0) {
            if (forwards) {
                offset++;
            } else {
                offset--;
            }
        }

        // Display the full text "a [changing word] company"
        $('.word').text(baseText + part + suffixText);
    }, speed);
};

$(document).ready(function () {
    wordSwitch();
});
</script>

	    <!----------- Footer ------------>
    <footer class="footer-bs bg-body-tertiary">
        <div class="row">
        	<div class="col-md-3  footer-brand animated fadeInLeft align-left">
                <img src="{% static 'about/company_logo_new.jpeg' %}" alt="company logo new" style="width:200px; height:100px; margin-left: 10%; filter: blur(1px);">  
                
                <p>Üniversite mah.Firuzköy Bulvari No:79/1 , 34315, Istanbul, Turkiye<p>
                <p>kao@kaometrology.com</p>
                <p>Tel: +90 212 591 70 39 / 40 </p>
                <p>© 2024 Kao Metrology, All rights reserved</p>

                    <div class="sliding_word sliding_word_mob">
                <span class="word"></span>
                    </div>
                      <br>
          
            </div>
          
        	<div class="col-md-3 footer-nav animated fadeInUp">
            	<h4>Products —</h4>
            	<div class="col-md-6">
                    <ul class="pages mbr-light  ">
                      <div class="  btn btn-white-outline btn-mobile btn-web">
                        <li><a href="{% url 'dimensional_measurement' %}">Air Gaging Devices</a></li>
                        </div>
                      <div class="btn btn-white-outline btn-mobile btn-web">
                        <li><a href="{% url 'leak_testing' %}">Leak Testers</a></li>
                        </div>
                      <div class="btn btn-white-outline btn-mobile btn-web" >
                        <li><a href="{% url 'callibrators' %}">Flow Callibrators</a></li>
                        </div>

                      <div class="btn btn-white-outline btn-mobile btn-web" >
                        <li><a href="{% url 'callibrators' %}#scanner">Pressure Scanners</a></li>
                        </div>

                      <div class="btn btn-white-outline btn-mobile btn-web" >
                        <li><a href="{% url 'accessories' %}">Accessories</a></li>
                        </div>
                    </ul>
                </div>
               <!-- 
            	<div class="col-md-6">
                    <ul class="list">
                        <li><a href="#"></a></li>
                        <li><a href="#">Contacts</a></li>
                        <li><a href="#">Terms & Condition</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
              -->
            </div>
        




            
      <div class="col-md-3 footer-nav animated fadeInUp">
            	<h4>Internal Links —</h4>
            	<div class="col-md-6">
                    <ul class="pages">
                <div class="btn btn-white-outline btn-mobile btn-web" >
                        <li><a href="{% url 'about_page' %}">Menu</a></li>
                        </div>

                <div class="btn btn-white-outline btn-mobile btn-web" >
                        <li><a href="{% url 'contact_page' %}">Contact</a></li>
                        </div>

                <div class="btn btn-white-outline btn-mobile btn-web" >
                        <li><a href="{% url 'products_page' %}">Products</a></li>
                        </div>

                     
                  <div class="btn btn-white-outline btn-mobile btn-web" >
                        <li><a href="https://hightech-metrology.com/blog/">Blog</a></li>
                        </div>


                    </ul>
                </div>
            	
            </div>


        	<div class="col-md-2 footer-social animated fadeInDown">
            	<h4>Follow Us</h4>
            	<ul>
          <a href="https://www.linkedin.com/company/kao-metrology/">
            <img src="{% static 'about/LI-In-Bug.png' %}" alt="linked-in logo" style="width:50px; height:50px;">
        </a>
          
        <a href="https://www.facebook.com/profile.php?id=61554340107729">
            <img src="{% static 'about/facebook_new_logo.png' %}" alt="facebook logo" style="width:50px; height:50px;">
        </a>
        
        <a href="https://www.youtube.com/channel/UCO493TfIW7Lj_l8v8woqg8Q">
            <img src="{% static 'about/youtube_logo_new.png' %}" alt="youtube logo" style="width:80px; height:80px;">
        </a>
 
 
        <div class="align-center align-ci-cd" >
      <img src="{% static 'about/ci_cd_pipeline.png' %}" alt="ci_cd_logo" style="width:50px; height:50px;">  
      <h6>CI-CD Pipeline</h6>
      </div>

     <img src="{% static 'about/turkiye-seeklogo.jpg' %}" alt="turkiyelogo" style="width:100px; height:100px;">
    <img src="{% static 'about/yerli_uretim.jpeg' %}" alt="yerli uretim" style="width:145px; height:100px;" class="responsive-yerli">

  


                </ul>
            </div>
            <!--
        	<div class="col-md-3 footer-ns animated fadeInRight">
            	<h4>Newsletter</h4>
                <p>A rover wearing a fuzzy suit doesn’t alarm the real penguins</p>
                <p>
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Search for...">
                      <span class="input-group-btn">
                        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-envelope"></span></button>
                      </span>
                    </div>
                 </p>
            </div>
          -->
        </div>

    </footer>


</div>