{% load static %}


{% load i18n %}

 <link rel="stylesheet" type="text/css" href="{% static 'services/style_alternative.css' %}" />
 <link rel="icon" href="{% static 'about/kao_logo.png' %}" alt="kao metrology logo"> 
 
<link rel="canonical" href="https://hightech-metrology.com/en/services/" />
<link rel="alternate" href="https://hightech-metrology.com/en/services/" hreflang="en" />
<link rel="alternate" href="https://hightech-metrology.com/tr/services/" hreflang="tr" />
<link rel="alternate" href="https://hightech-metrology.com/fr/services/" hreflang="fr" />
<link rel="alternate" href="https://hightech-metrology.com/de/services/" hreflang="de" />
<link rel="alternate" href="https://hightech-metrology.com/it/services/" hreflang="it" />
<link rel="alternate" href="https://hightech-metrology.com/pl/services/" hreflang="pl" />
<link rel="alternate" href="https://hightech-metrology.com/es/services/" hreflang="es" />


 <title>Probe Design | Mechanical Probe Services | Metrological Software</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">


<!-- Back to top button -->
<button
        type="button"
        class="btn  btn-floating btn-lg"
        id="btn-back-to-top"
        >
  <i class="fas fa-arrow-up"><img src="{% static 'about/up_arrow.png' %}" alt="up arrow icon" style="width: 50px; height: 50px;"></i>
</button>
          
        
<script>
//Get the button
let mybutton = document.getElementById("btn-back-to-top");



// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function () {
  scrollFunction();
};

function scrollFunction() {
   const scrollTop = window.pageYOffset || document.documentElement.scrollTop;
  if (
    document.body.scrollTop > 20 ||
    document.documentElement.scrollTop > 20
  ) {
    mybutton.style.display = "block";
  } else {
    mybutton.style.display = "none";
  }
}
// When the user clicks on the button, scroll to the top of the document
mybutton.addEventListener("click", backToTop);

function backToTop() {
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
}

</script>





  <nav class="navbar-eski  navbar-nav-eski navbar-brand-eski navbar-expand-lg navbar-dark-eski bg-blue-eski">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon-eski">

            </span>
          </button>
            <div class="container">
                <div class="navbar-collapse-eski show collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

                        <li class="btn  btn-top btn-white-outline nav-item"><a class="active-new" aria-current="page" href="{% url 'about_page' %}">{% trans 'Menu' %}</a></li>
                         <li class="btn btn-white-outline nav-item  dropdown"  id="productsdropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">{% trans 'Products' %}</a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="{% url 'dimensional_measurement' %}">{% trans 'Dimensional Measurement'  %}</a></li>
                                <li><a class="dropdown-item" href="{% url 'leak_testing' %}">{% trans 'Leak Testing Devices' %}</a></li>
                                <li><a class="dropdown-item" href="{% url 'callibrators' %}">{% trans 'Callibrators ' %}</a></li>
                                <li><a class="dropdown-item" href="{% url 'accessories' %}">{% trans 'Accessories' %}</a></li>
                            </ul>
                        </li>
                        
                        <li class="btn btn-top btn-white-outline  dropdown nav-item" id="servicesdropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">{% trans 'Services' %}</a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" a href="{% url 'services'%}#probes">{% trans 'Probe Design'  %}</a></li>
                                <li><a class="dropdown-item" a href="{% url 'services'%}#automachines">{% trans 'Automation Projects'  %}</a></li>
                                <li><a class="dropdown-item" a href="{% url 'services'%}#softwaresupport">{% trans 'Softwares'  %}</a></li>

                          </ul>
                        </li>
                        
                        <li class="btn btn-white-outline btn-top nav-item"><a class="nav-link active-new" aria-current="page" href="https://hightech-metrology.com/blog/">{% trans 'Blog' %}</a></li>

                    <!--    <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'services' %}">{% trans 'Services' %}</a></li> -->
                        <li class="btn btn-white-outline btn-top"><a class="nav-link active-new" aria-current="page" href="{% url 'contact_page' %}">{% trans 'Contact' %}</a></li>   
                      
                      
                      <li class="btn btn-white-outline btn-top dropdown nav-item" id="languageDropdown">
                         <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="{% static 'about/language.svg' %}" alt="language icon">
                                Languages
                          </a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                              <li><a class="dropdown-item" href="/tr/leaktesting"><img src="{% static 'about/Turkey.png' %}" alt="Turkish flag" style="width: 25px; height: auto;"> {% trans 'Turkish' %}</a></li>
                              <li><a class="dropdown-item" href="/en/leaktesting"><img src="{% static 'about/England.png' %}" alt="English flag" style="width: 25px; height: auto;">{% trans 'English' %}</a></li>
                              <li><a class="dropdown-item" href="/fr/leaktesting"><img src="{% static 'about/france.png' %}" alt="French flag" style="width: 25px; height: auto;">{% trans 'French' %}</a></li>
                              <li><a class="dropdown-item" href="/de/leaktesting"><img src="{% static 'about/German.png' %}" alt="German flag" style="width: 25px; height: auto;">{% trans 'German' %}</a></li>
                              <li><a class="dropdown-item" href="/it/leaktesting"><img src="{% static 'about/Italy.png' %}" alt="Italian flag" style="width: 25px; height: auto;">{% trans 'Italian' %}</a></li>
                              <li><a class="dropdown-item" href="/pl/leaktesting"><img src="{% static 'about/Poland.png' %}" alt="Polish flag" style="width: 25px; height: auto;">{% trans 'Polish' %}</a></li>
                              <li><a class="dropdown-item" href="/es/leaktesting"><img src="{% static 'about/Spain.png' %}" alt="Spanish flag" style="width: 25px; height: auto;">{% trans 'Spanish' %}</a></li>
                            </ul>
                        </li>
                <div class="col-md-2 footer-social animated fadeInDown">
            	<ul>
          <a href="https://www.linkedin.com/company/kao-metrology/">
            <img src="{% static 'about/LI-In-Bug.png' %}" alt="linked-in logo" style="width:40px; height:40px; position: relative; top: 15px; left: -15px;">
        </a>
          
        <a href="https://www.facebook.com/profile.php?id=61554340107729">
            <img src="{% static 'about/facebook_new_logo.png' %}" alt="facebook logo" style="width:40px; height:40px; position: relative; top: 15px; left: -15px;">
        </a>
        
        <a href="https://www.youtube.com/channel/UCO493TfIW7Lj_l8v8woqg8Q">
            <img src="{% static 'about/youtube_logo_new.png' %}" alt="youtube logo" style="width:70px; height:70px; position: relative; top: 15px; left: -17px;">
        </a>
 
                </ul>
            </div> 
 
 
                      </ul>
                </div>
            </div>
        </nav>

<a href="{% url 'about_page' %}">

<div id="company_logo">
    <img src="{% static 'about/company_logo_new.jpeg' %}" class="logo-img" alt="Kao Metrology Logo" >
</div>  
</a>




    



        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>


   








  <section class="header3 cid-ryh9am114g" id="content01-3d">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 col-lg-6 py-5 m-auto">
          <div class="media-content">
            <h1 class="mbr-section-title align-center mbr-bold mbr-white pb-3 mbr-fonts-style display-2">
              {% trans 'Services ' %}
            </h1>
            <div class="mbr-section-text mbr-white pb-3 ">
              <p class="mbr-text align-center align-center mbr-fonts-style display-7">
                
                 </p>
          </div>
            <div class="mbr-section-btn align-center">
              <a class="btn btn-md btn-white-outline display-4" a href= "{% url 'products_page' %}"  >
              {% trans 'View More' %}
              </a>
            </div>
          </div>



        </div>

    </div>
    </div>
  </section>



    <section class="cid-ryhbKc0wrA" id="probes">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-4">
          <div class="image-block">
            <img src="{% static 'about/probes_new.webp' %}" alt="Kao Pneumatic Probes">
            <figcaption class="mbr-figure-caption mbr-figure-caption-over">
              <div class="wrap">
                <h4 class="pb-2 mbr-white mbr-bold align-center mbr-fonts-style display-2"> 
                  {% trans 'Pneumatic Probes' %}
                 </h4>
                <p class="pb-2 mbr-white align-center mbr-fonts-style display-2">
                </p>
              </div>
            </figcaption>
          </div>

          
        </div>

        <div class="col-lg-6 mbr-bold align-center mbr-text col-lg-4 py-5">
       
          <p class="mbr-text align-center align-center mbr-fonts-style display-4">
              {% blocktrans %} 
             Measurement of parts is sometimes carried out in a workshop with a single pneumatic device.
              Sometimes there may be situations where a large number of measurements are required. Measuring multiple dimensions of a part simultaneously will shorten the measurement time. 
              Sometimes, proper positioning of the part is required to ensure measurement accuracy. 
              Sometimes, geometric tolerances come into play. Not only diameter but also factors such as ovality, cylindricity, and taper may be required. 
              In such cases, probe design is important. Do not hesitate to consult us, whether it is to measure a single diameter or 5 diameters.
               We have services in this regard.
            {% endblocktrans %}
          </p>          



          <a class="btn btn-md btn-black display-4" a href= "{% url 'contact_page' %}"  >
                {% trans 'GET A QUOTE' %}
              </a>

                      

        </div>


     
         

        </div>

      
    </div>
  </section>

  
 














 <section class="header3 cid-ryh9am114g" id="automachines">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 col-lg-6 py-5 m-auto">
          <div class="media-content">
            <h1 class="mbr-section-title align-right mbr-bold mbr-white pb-3 mbr-fonts-style display-2">
              {% trans 'AUTOMATIC MEASUREMENT MACHINES OR DEVICES' %}
              
            </h1>
      <h1 class="mbr-section-title align-center mbr-bold mbr-white pb-3 mbr-fonts-style display-4">
           </h1>
            <div class="mbr-section-text mbr-white pb-3 ">
          
            <p class="mbr-text align-center align-center mbr-fonts-style display-7">
              <h1>"</h1>
              {% blocktrans %}
                If you're saying you don't have the time or confidence that your operator always measures accurately, yes, we understand.
                 Provide us with the specifications, characteristics, and desired measurement time of your part.
                  Let us develop systems to automatically perform this task for you as soon as possible.
                   Whether it's simple diameters, geometric tolerances, whether you need pneumatic or contact-based measurement methods, or even if it involves moving the part for measurement, it's no problem.
                   We have services in this regard.
              {% endblocktrans %}
                   <h1>"</h1>
          </p>

        <p class="mbr-text align-center align-center mbr-fonts-style display-7"> 
        {% trans 'We offer the best products and the services  to our customers and the distributors all around the world.' %}
                </p>




            </div>
            <div class="mbr-section-btn align-center">
              <a class="btn btn-md btn-white-outline display-4" a href= "{% url 'contact_page' %}"  >
                {% trans 'GET A QUOTE' %}
               </a>
            </div>
          </div>


        </div>  
      </div>
    </div>
  </section>


  <section class="cid-ryhbKc0wrA" id="image03-3p">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-4">
          <div class="image-block">
            <img src="{% static 'about/automatic.JPG' %}" alt="automatic measurement devices">
            <figcaption class="mbr-figure-caption mbr-figure-caption-over">
              <div class="wrap">
                <h4 class="pb-2 mbr-white mbr-bold align-center mbr-fonts-style display-2"> 
                </h4>
                <p class="pb-2 mbr-white align-center mbr-fonts-style display-2">

                </p>
              </div>
            </figcaption>
          </div>

        </div>
             <div class="col-lg-4">
          <div class="image-block">
            <img src="{% static 'about/probe_application.jpg' %}" alt="Kao Metrology Probe Service">
            <figcaption class="mbr-figure-caption mbr-figure-caption-over">
              <div class="wrap">
                <h4 class="pb-2 mbr-white mbr-bold align-center mbr-fonts-style display-2"> 
                </h4>
                <p class="pb-2 mbr-white align-center mbr-fonts-style display-2">

                </p>
              </div>
            </figcaption>
          </div>

        </div>


             <div class="col-lg-4">
          <div class="image-block">
            <img src="{% static 'about/scanner_4.webp' %}" alt="Kao Pressure Scanner">
            <figcaption class="mbr-figure-caption mbr-figure-caption-over">
              <div class="wrap">
                <h4 class="pb-2 mbr-white mbr-bold align-center mbr-fonts-style display-2"> 
                </h4>
                <p class="pb-2 mbr-white align-center mbr-fonts-style display-2">

                </p>
              </div>
            </figcaption>
          </div>

        </div>




             <!--              
           <a class="btn btn-md btn-black display-4" a href= "{% static 'about/KD300_tur.pdf'%}" download="KD300.pdf">
            PDF
               </a>
              -->

        </div>
    
    </div>
  </section>










 <section class="header3 cid-ryh9am114g" id="softwaresupport">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 col-lg-6 py-5 m-auto">
          <div class="media-content">
            <h1 class="mbr-section-title align-center mbr-bold mbr-white pb-3 mbr-fonts-style display-2">
              {% trans 'Software Support' %}
            </h1>
      <h1 class="mbr-section-title align-center mbr-bold mbr-white pb-3 mbr-fonts-style display-2">
           </h1>
            <div class="mbr-section-text mbr-white pb-3 ">
          
            <p class="mbr-text align-center align-center mbr-fonts-style display-7">
          {% blocktrans %} 
        All KAO measurement devices record data, store them in their internal memory, and list the records on their screens.
         However, in some applications, it is desired to transfer this data outside the device. 
         {% endblocktrans %}
          </p>

        <p class="mbr-text align-center align-center mbr-fonts-style display-7"> 
                </p>




            </div>
            <div class="mbr-section-btn align-center">
              <a class="btn btn-md btn-white-outline display-4" a href= "{% url 'products_page' %}"  >
                {% trans 'GET A QUOTE' %}
               </a>
            </div>
          </div>


        </div>  
      </div>
    </div>
  </section>



  <section class="cid-ryhbKc0wrA" id="image03-3p">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-4">
          <div class="image-block">
            <img src="{% static 'about/kao_server.jpg' %}" alt="Kao Data Server">
            <figcaption class="mbr-figure-caption mbr-figure-caption-over">
              <div class="wrap">
                <h4 class="pb-2 mbr-white mbr-bold align-center mbr-fonts-style display-2"> 
                  DS - {% trans 'KAO Data Server Software' %}
                </h4>
                <p class="pb-2 mbr-white align-center mbr-fonts-style display-4">
                  {% blocktrans %}
                  The DS software serves as a server allowing wired and wireless KAO devices to exchange data using TCP and UDP protocols. 
                  It synchronizes the date and time settings of devices with a computer.
                   The wifi router and password for devices in the field are provided. 
                   Devices are registered on the QSPY server screen with their serial numbers. 
                   The QSPY server automatically assigns IP addresses to devices.
                    QSPY DS establishes its own database using the Windows SQL infrastructure.
                     It records the data received. All operations occur without user intervention.
                      Devices determine data variables.
                      {% endblocktrans %}
                </p>
              </div>
            </figcaption>
          </div>

        </div>
             <div class="col-lg-4">
          <div class="image-block">
            <img src="{% static 'about/kao_server.jpg' %}">
            <figcaption class="mbr-figure-caption mbr-figure-caption-over">
              <div class="wrap">
                <h4 class="pb-2 mbr-white mbr-bold align-center mbr-fonts-style display-2"> 
                  DT - {% trans 'KAO Data Monitoring Terminal' %}
                </h4>
                <p class="pb-2 mbr-white align-center mbr-fonts-style display-4">
                  {% blocktrans %}
              Provides real-time access to data stored in SQL server.
               It displays them on screen and exports them to printers in the form of lists and graphs.
                  {% endblocktrans %}
                </p>
              </div>
            </figcaption>
          </div>

        </div>


             <div class="col-lg-4">
          <div class="image-block">
            <img src="{% static 'about/kao_server.jpg' %}"  alt="Kao Data Server">
            <figcaption class="mbr-figure-caption mbr-figure-caption-over">
              <div class="wrap">
                <h4 class="pb-2 mbr-white mbr-bold align-center mbr-fonts-style display-2"> 
                Q2Q - {% trans 'QDAS Data Converter' %}
                </h4>
                <p class="pb-2 mbr-white align-center mbr-fonts-style display-4">
                  {% blocktrans %}
                  When data reaches DS, it classifies them with catalog numbers. 
                  It prepares them as dfq extension files in the designated folder according to the qdas precellla protocol.
                   All operations occur without user intervention.
                   {% endblocktrans %}
                </p>
              </div>
            </figcaption>
          </div>

        </div>




             <!--              
           <a class="btn btn-md btn-black display-4" a href= "{% static 'about/KD300_tur.pdf'%}" download="KD300.pdf">
            PDF
               </a>
              -->

        </div>
    
    </div>
  </section>



  <section class="map1 cid-ryha8paJop" id="map01-3h">
    <div class="google-map">
      <iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12044.499649022328!2d28.7119864!3d41.0006391!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14caa0fb16d7bc9d%3A0x415f5b54bf6d0006!2sKAO%20Elektronik%20ve%20Bilgisayar%20San.Tic.Ltd.%C5%9Eti!5e0!3m2!1sen!2spl!4v1703979517447!5m2!1sen!2spl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"> allowfullscreen="" data-gtm-yt-inspected-19="true" data-gtm-yt-inspected-27="true"></iframe>
      </iframe>
    </div>
  </section>

  
<!--

  <section class="header3 cid-ryha7dvnCF" id="social01-3g">
    <div class="container">

      <div class="mbr-section-btn align-center pb-3">
        

    <img src="{% static 'about/turkiye-seeklogo.jpg' %}" alt="turkiyelogo" style="width:200px; height:200px;">
    <img src="{% static 'about/yerli_uretim.jpeg' %}" alt="yerli uretim" style="width:390px; height:200px;" class="responsive-yerli">
    
        <br>
         <a href="https://www.linkedin.com/company/kao-metrology/">
            <img src="{% static 'about/LI-In-Bug.png' %}" alt="linked-in logo" style="width:50px; height:50px;">
        </a>
      
        <a href="https://www.youtube.com/channel/UCO493TfIW7Lj_l8v8woqg8Q">
            <img src="{% static 'about/youtube_logo_new.png' %}" alt="youtube logo" style="width:50px; height:50px;">
        </a>
        
        <a href="https://www.facebook.com/profile.php?id=61554340107729">
            <img src="{% static 'about/facebook_new_logo.png' %}" alt="facebook logo" style="width:50px; height:50px;">
        </a>
        
        <br>

  
      </div>

      
      </div>
     
  





<div class="container center_it"> 
    <div class="d-flex justify-content-md-center" id="navbarSupportedContent">
        <ul class="navbar-nav d-flex flex-row list-unstyled">
            <li class="nav-item mbr-section-btn mx-2 menu-item">
                <a class="btn btn-md btn-menu btn-white-outline display-4" href="{% url 'about_page' %}">
                    <h4>{% trans 'MENU' %}</h4>
                </a>
            </li>
            <li class="nav-item mbr-section-btn mx-2">
                <a class="btn btn-md btn-contact btn-white-outline display-4" href="{% url 'contact_page' %}">
                    <h4>{% trans 'CONTACT' %}</h4>
                </a>
            </li>
            <li class="nav-item mbr-section-btn mx-2 ">
                <a class="btn btn-md btn-product btn-white-outline display-4" href="{% url 'products_page' %}">
                    <h4>{% trans 'PRODUCTS' %}</h4>
                </a>
            </li>
            <li class="nav-item mbr-section-btn mx-2">
                <a class="btn btn-md btn-blog btn-white-outline display-4" href="https://hightech-metrology.com/blog/">
                    <h4>{% trans 'BLOG' %}</h4>
                </a>
            </li>
        </ul>
    </div>
</div>



      




        <div class="call_us_section align-center">
             <img src="{% static 'about/call_us-Photoroom.png' %}" alt="call us logo" style="width:50px; height:50px;"> 
          
             </div>

             

           <div class="number_section align-center">
          <h3>0212 5917039-40</h3> 
             </div>
        
     
  
  </section>
  



  <noscript>
    <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=1123285727682531&amp;ev=PageView&amp;noscript=1" alt="kao facebook page">
  </noscript>
 
-->
 <div class="">

<script>
var word1 = 'pressure';
var word2 = 'metrology';
var baseText = 'a ';
var suffixText = ' company';
var part, i = 0, offset = 0, forwards = true, speed = 250, delay = 10, delayCounter = 0;

var wordSwitch = function () {
    setInterval(function () {
        // Determine the current word and its length
        var word = (i == 0) ? word1 : word2;
        var wordLength = word.length;

        if (forwards) {
            if (offset >= wordLength) {
                delayCounter++;
                if (delayCounter == delay) {
                    forwards = false;  // Switch to delete mode
                    delayCounter = 0;
                }
            }
        } else {
            if (offset == 0) {
                forwards = true;
                i = (i == 0) ? 1 : 0;  // Switch between word1 and word2
            }
        }

        // Get the part of the word that should be shown
        part = word.substr(0, offset);

        // Change the offset (move forward or backward)
        if (delayCounter == 0) {
            if (forwards) {
                offset++;
            } else {
                offset--;
            }
        }

        // Display the full text "a [changing word] company"
        $('.word').text(baseText + part + suffixText);
    }, speed);
};

$(document).ready(function () {
    wordSwitch();
});
</script>

	    <!----------- Footer ------------>
    <footer class="footer-bs bg-body-tertiary">
        <div class="row">
        	<div class="col-md-3  footer-brand animated fadeInLeft align-left">
                <img src="{% static 'about/company_logo_new.jpeg' %}" alt="company logo new" style="width:200px; height:100px; margin-left: 10%; filter: blur(1px);">  
                
                <p>Üniversite mah.Firuzköy Bulvari No:79/1 , 34315, Istanbul, Turkiye<p>
                <p>kao@kaometrology.com</p>
                <p>Tel: +90 212 591 70 39 / 40 </p>
                <p>© 2024 Kao Metrology, All rights reserved</p>

                    <div class="sliding_word sliding_word_mob">
                <span class="word"></span>
                    </div>
                      <br>
          
            </div>
          
        	<div class="col-md-3 footer-nav animated fadeInUp">
            	<h4>Products —</h4>
            	<div class="col-md-6">
                    <ul class="pages mbr-light  ">
                      <div class="  btn btn-white-outline btn-mobile btn-web">
                        <li><a href="{% url 'dimensional_measurement' %}">Air Gaging Devices</a></li>
                        </div>
                      <div class="btn btn-white-outline btn-mobile btn-web">
                        <li><a href="{% url 'leak_testing' %}">Leak Testers</a></li>
                        </div>
                      <div class="btn btn-white-outline btn-mobile btn-web" >
                        <li><a href="{% url 'callibrators' %}">Flow Callibrators</a></li>
                        </div>

                      <div class="btn btn-white-outline btn-mobile btn-web" >
                        <li><a href="{% url 'callibrators' %}#scanner">Pressure Scanners</a></li>
                        </div>

                      <div class="btn btn-white-outline btn-mobile btn-web" >
                        <li><a href="{% url 'accessories' %}">Accessories</a></li>
                        </div>
                    </ul>
                </div>
               <!-- 
            	<div class="col-md-6">
                    <ul class="list">
                        <li><a href="#"></a></li>
                        <li><a href="#">Contacts</a></li>
                        <li><a href="#">Terms & Condition</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
              -->
            </div>
        




            
      <div class="col-md-3 footer-nav animated fadeInUp">
            	<h4>Internal Links —</h4>
            	<div class="col-md-6">
                    <ul class="pages">
                <div class="btn btn-white-outline btn-mobile btn-web" >
                        <li><a href="{% url 'about_page' %}">Menu</a></li>
                        </div>

                <div class="btn btn-white-outline btn-mobile btn-web" >
                        <li><a href="{% url 'contact_page' %}">Contact</a></li>
                        </div>

                <div class="btn btn-white-outline btn-mobile btn-web" >
                        <li><a href="{% url 'products_page' %}">Products</a></li>
                        </div>

                     
                  <div class="btn btn-white-outline btn-mobile btn-web" >
                        <li><a href="https://hightech-metrology.com/blog/">Blog</a></li>
                        </div>


                    </ul>
                </div>
            	
            </div>


        	<div class="col-md-2 footer-social animated fadeInDown">
            	<h4>Follow Us</h4>
            	<ul>
          <a href="https://www.linkedin.com/company/kao-metrology/">
            <img src="{% static 'about/LI-In-Bug.png' %}" alt="linked-in logo" style="width:50px; height:50px;">
        </a>
          
        <a href="https://www.facebook.com/profile.php?id=61554340107729">
            <img src="{% static 'about/facebook_new_logo.png' %}" alt="facebook logo" style="width:50px; height:50px;">
        </a>
        
        <a href="https://www.youtube.com/channel/UCO493TfIW7Lj_l8v8woqg8Q">
            <img src="{% static 'about/youtube_logo_new.png' %}" alt="youtube logo" style="width:80px; height:80px;">
        </a>
 
 
        <div class="align-center align-ci-cd" >
      <img src="{% static 'about/ci_cd_pipeline.png' %}" alt="ci_cd_logo" style="width:50px; height:50px;">  
      <h6>CI-CD Pipeline</h6>
      </div>

     <img src="{% static 'about/turkiye-seeklogo.jpg' %}" alt="turkiyelogo" style="width:100px; height:100px;">
    <img src="{% static 'about/yerli_uretim.jpeg' %}" alt="yerli uretim" style="width:145px; height:100px;" class="responsive-yerli">

  


                </ul>
            </div>
            <!--
        	<div class="col-md-3 footer-ns animated fadeInRight">
            	<h4>Newsletter</h4>
                <p>A rover wearing a fuzzy suit doesn’t alarm the real penguins</p>
                <p>
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Search for...">
                      <span class="input-group-btn">
                        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-envelope"></span></button>
                      </span>
                    </div>
                 </p>
            </div>
          -->
        </div>

    </footer>


</div> 
